{% load static %}

<div id="article{{ article.pk }}" class="p-6 flex flex-col justify-between min-h-96 space-y-3 bg-skin-surface rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:bg-skin-surface-hover col-span-6 md:col-span-6 xxl:col-span-4
">
    <div class="flex justify-between">
        <span class="text-xs text-skin-muted">{{ article.created_at|date:"F d, Y" }}</span>
        {% if article.featured %}
            <span class="text-sm text-skin-accent">{{ article.featured.get_featured_reason_display }}</span>
        {% endif %}
    </div>
    <h2 class="text-4xl font-serif font-bold text-skin-base">{{ article.title }}</h2>

    <div class="flex flex-wrap gap-1">
        {% if article.topic %}
            {% include 'blog/partials/topic_chip.html' with topic=article.topic %}
        {% endif %}
        {% for tag in article.tags.all %}
            {% include 'blog/partials/tag_chip.html' with tag=tag %}
        {% endfor %}
    </div>
    <p class="text-skin-muted mb-4">{{ article.safe_excerpt }}</p>
    <div class="flex items-center justify-between">
        <div class="flex flex-wrap items-center gap-4 text-sm text-skin-muted">
            <span>
                <c-icons.eye/>
                <span>{{ article.view_count }}</span>
            </span>
            <span class="flex items-center">
                <c-icons.thumbs-up/>
                <span>{{ article.likes.count }}</span>
            </span>
            <span>
                <c-icons.thumbs-down/>
                <span>{{ article.dislikes.count }}</span>
            </span>
            <span>
                <c-icons.message-square/>
                <span>{{ article.comments.count }}</span>
            </span>
            <span>
                <c-icons.trending-up/>
                <span>{{ article.popularity_score }}</span>
            </span>
        </div>

        <a href="{% url 'blog:article_detail' slug=article.slug %}"
           class="text-skin-link hover:text-skin-link font-semibold">
            Read More
        </a>

    </div>
</div>