{% load static %}
<div class="p-4 shadow-md rounded-md bg-skin-base">
    <div class="flex-grow">
        <h3 class="text-lg font-semibold text-skin-link mb-1">
            <a href="{% url 'blog:article_detail' slug=article.slug %}"
               class="hover:text-skin-link-inverted transition-colors duration-200">
                {{ article.title }}
            </a>
        </h3>
        <div class="flex flex-wrap items-center text-sm text-skin-muted gap-2 mb-2">
            <c-blog.badge>{{ article.topic.name }}</c-blog.badge>
            <span>by {{ article.creator.username }}</span>
            <span>{{ article.created_at|date:"M d, Y" }}</span>
        </div>
        <div class="flex flex-wrap items-center gap-4 text-sm text-skin-muted">
            <span>
                <c-icons.eye/>
                <span>{{ article.view_count }}</span>
            </span>
            <span class="flex items-center">
                <c-icons.thumbs-up/>
                <span>{{ article.likes.count }}</span>
            </span>
            <span>
                <c-icons.thumbs-down/>
                <span>{{ article.dislikes.count }}</span>
            </span>
            <span>
                <c-icons.message-square/>
                <span>{{ article.comments.count }}</span>
            </span>
            <span>
                <c-icons.trending-up/>
                <span>{{ article.popularity_score }}</span>
            </span>
        </div>
    </div>
</div>