{% extends 'tools/base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'tools/js/retirement_calculator/pipelines.js' %}"></script>
{% endblock %}
{% block head_title %}Retirement Calculator{% endblock %}
{% block content %}
    <h1 class="text-4xl font-semibold mb-6">Retirement Calculator</h1>
    <div x-data="setupFormData()" class="grid grid-cols-2 gap-3">

        <div class="col-span-2">
            <nav id="columnFilters">
                <ul class="flex flex-wrap gap-3">
                    <li><button @click="columnFilters.age = !columnFilters.age" class="px-2 py-1 rounded-sm border" :class="columnFilters.age ? 'bg-skin-success' : 'bg-skin-muted'">age</button></li>
                    <li><button @click="columnFilters.incomePreTaxed = !columnFilters.incomePreTaxed" class="px-2 py-1 rounded-sm border" :class="columnFilters.incomePreTaxed ? 'bg-skin-success' : 'bg-skin-muted'">incomePreTaxed</button></li>
                    <li><button @click="columnFilters.incomeTaxable = !columnFilters.incomeTaxable" class="px-2 py-1 rounded-sm border" :class="columnFilters.incomeTaxable ? 'bg-skin-success' : 'bg-skin-muted'">incomeTaxable</button></li>
                    <li><button @click="columnFilters.incomeTaxed = !columnFilters.incomeTaxed" class="px-2 py-1 rounded-sm border" :class="columnFilters.incomeTaxed ? 'bg-skin-success' : 'bg-skin-muted'">incomeTaxed</button></li>
                    <li><button @click="columnFilters.expenses = !columnFilters.expenses" class="px-2 py-1 rounded-sm border" :class="columnFilters.expenses ? 'bg-skin-success' : 'bg-skin-muted'">expenses</button></li>
                    <li><button @click="columnFilters.incomeDisposable = !columnFilters.incomeDisposable" class="px-2 py-1 rounded-sm border" :class="columnFilters.incomeDisposable ? 'bg-skin-success' : 'bg-skin-muted'">incomeDisposable</button></li>
                    <li><button @click="columnFilters.debt = !columnFilters.debt" class="px-2 py-1 rounded-sm border" :class="columnFilters.debt ? 'bg-skin-success' : 'bg-skin-muted'">debt</button></li>
                    <li><button @click="columnFilters.debtInterestRate = !columnFilters.debtInterestRate" class="px-2 py-1 rounded-sm border" :class="columnFilters.debtInterestRate ? 'bg-skin-success' : 'bg-skin-muted'">debtInterestRate</button></li>
                    <li><button @click="columnFilters.debtPayment = !columnFilters.debtPayment" class="px-2 py-1 rounded-sm border" :class="columnFilters.debtPayment ? 'bg-skin-success' : 'bg-skin-muted'">debtPayment</button></li>
                    <li><button @click="columnFilters.debtPaymentTotal = !columnFilters.debtPaymentTotal" class="px-2 py-1 rounded-sm border" :class="columnFilters.debtPaymentTotal ? 'bg-skin-success' : 'bg-skin-muted'">debtPaymentTotal</button></li>
                    <li><button @click="columnFilters.retirementStrategy = !columnFilters.retirementStrategy" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementStrategy ? 'bg-skin-success' : 'bg-skin-muted'">retirementStrategy</button></li>
                    <li><button @click="columnFilters.retirementWithdrawalRate = !columnFilters.retirementWithdrawalRate" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementWithdrawalRate ? 'bg-skin-success' : 'bg-skin-muted'">retirementWithdrawalRate</button></li>
                    <li><button @click="columnFilters.retirementIncomeProjected = !columnFilters.retirementIncomeProjected" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementIncomeProjected ? 'bg-skin-success' : 'bg-skin-muted'">retirementIncomeProjected</button></li>
                    <li><button @click="columnFilters.retirementIncomeGoal = !columnFilters.retirementIncomeGoal" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementIncomeGoal ? 'bg-skin-success' : 'bg-skin-muted'">retirementIncomeGoal</button></li>
                    <li><button @click="columnFilters.retirementAge = !columnFilters.retirementAge" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementAge ? 'bg-skin-success' : 'bg-skin-muted'">retirementAge</button></li>
                    <li><button @click="columnFilters.retirementSavingsAmount = !columnFilters.retirementSavingsAmount" class="px-2 py-1 rounded-sm border" :class="columnFilters.retirementSavingsAmount ? 'bg-skin-success' : 'bg-skin-muted'">retirementSavingsAmount</button></li>
                    <li><button @click="columnFilters.iraSavingsStartOfYear = !columnFilters.iraSavingsStartOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.iraSavingsStartOfYear ? 'bg-skin-success' : 'bg-skin-muted'">iraSavingsStartOfYear</button></li>
                    <li><button @click="columnFilters.iraContribution = !columnFilters.iraContribution" class="px-2 py-1 rounded-sm border" :class="columnFilters.iraContribution ? 'bg-skin-success' : 'bg-skin-muted'">iraContribution</button></li>
                    <li><button @click="columnFilters.iraContributionTotal = !columnFilters.iraContributionTotal" class="px-2 py-1 rounded-sm border" :class="columnFilters.iraContributionTotal ? 'bg-skin-success' : 'bg-skin-muted'">iraContributionTotal</button></li>
                    <li><button @click="columnFilters.iraSavingsEndOfYear = !columnFilters.iraSavingsEndOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.iraSavingsEndOfYear ? 'bg-skin-success' : 'bg-skin-muted'">iraSavingsEndOfYear</button></li>
                    <li><button @click="columnFilters.taxDeferredSavingsStartOfYear = !columnFilters.taxDeferredSavingsStartOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredSavingsStartOfYear ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredSavingsStartOfYear</button></li>
                    <li><button @click="columnFilters.taxDeferredContribution = !columnFilters.taxDeferredContribution" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredContribution ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredContribution</button></li>
                    <li><button @click="columnFilters.employerContribution = !columnFilters.employerContribution" class="px-2 py-1 rounded-sm border" :class="columnFilters.employerContribution ? 'bg-skin-success' : 'bg-skin-muted'">employerContribution</button></li>
                    <li><button @click="columnFilters.taxDeferredContributionTotal = !columnFilters.taxDeferredContributionTotal" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredContributionTotal ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredContributionTotal</button></li>
                    <li><button @click="columnFilters.taxDeferredSavingsEndOfYear = !columnFilters.taxDeferredSavingsEndOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredSavingsEndOfYear ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredSavingsEndOfYear</button></li>
                    <li><button @click="columnFilters.taxableSavingsStartOfYear = !columnFilters.taxableSavingsStartOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxableSavingsStartOfYear ? 'bg-skin-success' : 'bg-skin-muted'">taxableSavingsStartOfYear</button></li>
                    <li><button @click="columnFilters.taxableContribution = !columnFilters.taxableContribution" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxableContribution ? 'bg-skin-success' : 'bg-skin-muted'">taxableContribution</button></li>
                    <li><button @click="columnFilters.taxableContributionTotal = !columnFilters.taxableContributionTotal" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxableContributionTotal ? 'bg-skin-success' : 'bg-skin-muted'">taxableContributionTotal</button></li>
                    <li><button @click="columnFilters.taxableSavingsEndOfYear = !columnFilters.taxableSavingsEndOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxableSavingsEndOfYear ? 'bg-skin-success' : 'bg-skin-muted'">taxableSavingsEndOfYear</button></li>
                    <li><button @click="columnFilters.taxDeferredContributionElectiveLimit = !columnFilters.taxDeferredContributionElectiveLimit" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredContributionElectiveLimit ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredContributionElectiveLimit</button></li>
                    <li><button @click="columnFilters.taxDeferredContributionElectiveLimitApplied = !columnFilters.taxDeferredContributionElectiveLimitApplied" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredContributionElectiveLimitApplied ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredContributionElectiveLimitApplied</button></li>
                    <li><button @click="columnFilters.taxDeferredContributionElectiveTotalLimitApplied = !columnFilters.taxDeferredContributionElectiveTotalLimitApplied" class="px-2 py-1 rounded-sm border" :class="columnFilters.taxDeferredContributionElectiveTotalLimitApplied ? 'bg-skin-success' : 'bg-skin-muted'">taxDeferredContributionElectiveTotalLimitApplied</button></li>
                    <li><button @click="columnFilters.cash = !columnFilters.cash" class="px-2 py-1 rounded-sm border" :class="columnFilters.cash ? 'bg-skin-success' : 'bg-skin-muted'">cash</button></li>
                    <li><button @click="columnFilters.savingsStartOfYear = !columnFilters.savingsStartOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.savingsStartOfYear ? 'bg-skin-success' : 'bg-skin-muted'">savingsStartOfYear</button></li>
                    <li><button @click="columnFilters.savingsEndOfYear = !columnFilters.savingsEndOfYear" class="px-2 py-1 rounded-sm border" :class="columnFilters.savingsEndOfYear ? 'bg-skin-success' : 'bg-skin-muted'">savingsEndOfYear</button></li>
                </ul>
            </nav>
            <table class="table-auto border border-collapse">
                <thead class="text-xs">
{#                <tr>#}
{#                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-tertiary" colspan="6">Profile</th>#}
{#                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-primary" colspan="4">IRA</th>#}
{#                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-secondary" colspan="5">Tax Deferred</th>#}
{#                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-tertiary" colspan="4">Taxable</th>#}
{#                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-primary" colspan="3">Savings</th>#}
{#                </tr>#}
                <tr>
                    <th x-show="columnFilters.age"  class="px-4 py-1 text-start  bg-skin-tertiary/60">Age</th>
                    <th x-show="columnFilters.incomePreTaxed"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Pre-Tax</th>
                    <th x-show="columnFilters.incomeTaxable"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Taxable</th>
                    <th x-show="columnFilters.incomeTaxed"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Post-Tax</th>
                    <th x-show="columnFilters.expenses"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Expenses</th>
                    <th x-show="columnFilters.incomeDisposable"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Disposable</th>
                    <th x-show="columnFilters.debt"  class="px-4 py-1 text-end  bg-skin-tertiary/60">debt</th>
                    <th x-show="columnFilters.debtInterestRate"  class="px-4 py-1 text-end  bg-skin-tertiary/60">debtInterestRate</th>
                    <th x-show="columnFilters.debtPayment"  class="px-4 py-1 text-end  bg-skin-tertiary/60">debtPayment</th>
                    <th x-show="columnFilters.debtPaymentTotal"  class="px-4 py-1 text-end  bg-skin-tertiary/60">debtPaymentTotal</th>
                    <th x-show="columnFilters.retirementStrategy"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Retirement Strategy</th>
                    <th x-show="columnFilters.retirementWithdrawalRate"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Withdrawal Rate</th>
                    <th x-show="columnFilters.retirementIncomeProjected"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Income Projected</th>
                    <th x-show="columnFilters.retirementIncomeGoal"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Income Goal</th>
                    <th x-show="columnFilters.retirementAge"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Age</th>
                    <th x-show="columnFilters.retirementSavingsAmount"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Savings</th>
                    <th x-show="columnFilters.iraSavingsStartOfYear"  class="px-4 py-1 text-end  bg-skin-primary/60">Savings (SOY)</th>
                    <th x-show="columnFilters.iraContribution"  class="px-4 py-1 text-end  bg-skin-primary/60">Contribution</th>
                    <th x-show="columnFilters.iraContributionTotal"  class="px-4 py-1 text-end  bg-skin-primary/60">Total Contribution</th>
                    <th x-show="columnFilters.iraSavingsEndOfYear"  class="px-4 py-1 text-end  bg-skin-primary/60">Savings (EOY)</th>
                    <th x-show="columnFilters.taxDeferredSavingsStartOfYear"  class="px-4 py-1 text-end  bg-skin-secondary/60">Tax Deferred (SOY)</th>
                    <th x-show="columnFilters.taxDeferredContribution"  class="px-4 py-1 text-end  bg-skin-secondary/60">Contribution</th>
                    <th x-show="columnFilters.employerContribution"  class="px-4 py-1 text-end  bg-skin-secondary/60">Employer Contribution</th>
                    <th x-show="columnFilters.taxDeferredContributionTotal"  class="px-4 py-1 text-end  bg-skin-secondary/60">Total Contribution</th>
                    <th x-show="columnFilters.taxDeferredSavingsEndOfYear"  class="px-4 py-1 text-end  bg-skin-secondary/60">Tax Deferred (EOY)</th>
                    <th x-show="columnFilters.taxableSavingsStartOfYear"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Savings (SOY)</th>
                    <th x-show="columnFilters.taxableContribution"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Contribution</th>
                    <th x-show="columnFilters.taxableContributionTotal"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Total Contribution</th>
                    <th x-show="columnFilters.taxableSavingsEndOfYear"  class="px-4 py-1 text-end  bg-skin-tertiary/60">Savings (EOY)</th>
                    <th x-show="columnFilters.taxDeferredContributionElectiveLimit"  class="px-4 py-1 text-end  bg-skin-tertiary/60">taxDeferredContributionElectiveLimit</th>
                    <th x-show="columnFilters.taxDeferredContributionElectiveLimitApplied"  class="px-4 py-1 text-end  bg-skin-tertiary/60">taxDeferredContributionElectiveLimitApplied</th>
                    <th x-show="columnFilters.taxDeferredContributionElectiveTotalLimitApplied"  class="px-4 py-1 text-end  bg-skin-tertiary/60">taxDeferredContributionElectiveTotalLimitApplied</th>
                    <th x-show="columnFilters.cash"  class="px-4 py-1 text-end  bg-skin-primary/60">Cash</th>
                    <th x-show="columnFilters.savingsStartOfYear"  class="px-4 py-1 text-end  bg-skin-primary/60">Savings (SOY)</th>
                    <th x-show="columnFilters.savingsEndOfYear"  class="px-4 py-1 text-end  bg-skin-primary/60">Savings (EOY)</th>
                </tr>
                </thead>
                <tbody class="text-sm">
                <template x-for="(row, index) in results">
                    <tr class="border-b">
                        <td x-show="columnFilters.age" class="px-4 py-1 bg-skin-tertiary"><span x-text="row.age"></span></td>
                        <td x-show="columnFilters.incomePreTaxed" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.incomePreTaxed.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.incomeTaxable" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.incomeTaxable.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.incomeTaxed" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.incomeTaxed.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.expenses" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.expenses.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.incomeDisposable" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.incomeDisposable.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.debt" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.debt.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.debtInterestRate" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.debtInterestRate"></span></td>
                        <td x-show="columnFilters.debtPayment" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.debtPayment.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.debtPaymentTotal" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.debtPaymentTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.retirementStrategy" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementStrategy"></span></td>
                        <td x-show="columnFilters.retirementWithdrawalRate" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementWithdrawalRate"></span></td>
                        <td x-show="columnFilters.retirementIncomeProjected" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementIncomeProjected.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.retirementIncomeGoal" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementIncomeGoal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.retirementAge" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementAge"></span></td>
                        <td x-show="columnFilters.retirementSavingsAmount" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.retirementSavingsAmount.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.iraSavingsStartOfYear" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.iraSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.iraContribution" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.iraContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.iraContributionTotal" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.iraContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.iraSavingsEndOfYear" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.iraSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredSavingsStartOfYear" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredContribution" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.employerContribution" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.employerContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredContributionTotal" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredSavingsEndOfYear" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredContributionElectiveLimit" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredContributionElectiveLimit.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredContributionElectiveLimitApplied" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredContributionElectiveLimitApplied.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxDeferredContributionElectiveTotalLimitApplied" class="px-4 py-1 text-end bg-skin-secondary/40"><span x-text="row.taxDeferredContributionElectiveTotalLimitApplied.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxableSavingsStartOfYear" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.taxableSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxableContribution" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.taxableContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxableContributionTotal" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.taxableContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.taxableSavingsEndOfYear" class="px-4 py-1 text-end bg-skin-tertiary/40"><span x-text="row.taxableSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.cash" class="px-4 py-1 text-end bg-skin-primary/40"><span :class="row.cash < 0 && 'text-skin-error'" x-text="row.cash.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.savingsStartOfYear" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.savingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td x-show="columnFilters.savingsEndOfYear" class="px-4 py-1 text-end bg-skin-primary/40"><span x-text="row.savingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="col-span-2 grid grid-cols-2 gap-3">

            <div class="space-y-3">

                <!-- Personal Information -->
                <div class="p-3 border bg-skin-tertiary shadow-sm shadow-red-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Personal Information</h2>
                    <div class="grid grid-cols-3 gap-3">
                        <c-input :field="form.year" x-model.number="formData.year"/>
                        <c-input :field="form.age" x-model.number="formData.age"/>
                        <c-input :field="form.life_expectancy" x-model.number="formData.lifeExpectancy"/>
                    </div>
                </div>

                <!-- Debt -->
                <div class="p-3 border bg-skin-tertiary shadow-sm shadow-red-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Debt</h2>
                    <div class="grid grid-cols-3 gap-3">
                        <c-input :field="form.debt" x-model.number="formData.debt"/>
                        <c-input :field="form.debt_interest_rate" x-model.number="formData.debtInterestRate"/>
                        <c-input :field="form.debt_payment" x-model.number="formData.debtPayment"/>
                    </div>
                </div>
                
                <!-- Retirement Goals -->
                <div class="p-3 border bg-skin-tertiary shadow-sm shadow-red-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Retirement</h2>
                    <div class="grid grid-cols-3 gap-3">
                        <c-select :field="form.retirement_strategy" x-model="formData.retirementStrategy"/>
                        <c-input :field="form.retirement_age" x-model.number="formData.retirementAge"/>
                        <c-input :field="form.retirement_withdrawal_rate" x-model.number="formData.retirementWithdrawalRate"/>
                        <c-input :field="form.retirement_expenses" x-model.number="formData.retirementIncomeGoal"/>
                        <c-input :field="form.retirement_savings_amount" x-model.number="formData.retirementSavingsAmount"/>
                    </div>
                </div>

                <!-- Income and Expenses -->
                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Income and Expenses</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <!-- Income Fields -->
                        <div class="col-span-1">
                            <c-input :field="form.income_pre_taxed" x-model.number="formData.incomePreTaxed"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.income_growth_strategy" x-model="formData.incomeGrowthStrategy"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.income_growth_rate" x-model.number="formData.incomeGrowthRate"/>
                        </div>
                        <!-- Expense Fields -->
                        <div class="col-span-1">
                            <c-input :field="form.expenses" x-model.number="formData.expenses"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.expenses_growth_strategy" x-model="formData.expensesGrowthStrategy"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.expense_rate" x-model.number="formData.expenseRate"/>
                        </div>
                        <!-- Inflation Fields -->
                        <div class="col-span-1">
                            <c-input :field="form.inflation_rate" x-model.number="formData.inflationRate"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.inflation_growth_strategy" x-model="formData.inflationGrowthStrategy"/>
                        </div>
                    </div>
                </div>

                <!-- Taxes -->
                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Taxes</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.income_tax_strategy" x-model="formData.incomeTaxStrategy"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.income_tax_rate" x-model.number="formData.incomeTaxRate"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.filing_status" x-model="formData.incomeTaxFilingStatus"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.number_of_dependents" x-model.number="formData.incomeTaxNumberOfDependents"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.is_blind" x-model="formData.isBlind" type="checkbox"/>
                        </div>
                    </div>
                </div>

                <!-- Savings -->
                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Savings</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <div class="col-span-1">
                            <c-input :field="form.cash" x-model.number="formData.cash"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.tax_deferred_savings" x-model.number="formData.taxDeferredSavingsStartOfYear"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.taxable_savings" x-model.number="formData.taxableSavingsInitial"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.ira_savings" x-model.number="formData.iraSavingsInitial"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-y-3">

                <!-- Tax-Deferred Contributions -->
                <div class="p-3 bg-skin-secondary shadow-sm shadow-purple-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Tax-Deferred Contributions</h2>
                    <p class="text-sm text-skin-muted">
                        These grow tax-free until retirement, but withdrawals are taxed (e.g., 401(k), Traditional IRA).
                    </p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.tax_deferred_contribution_strategy" x-model="formData.taxDeferredContributionStrategy"/>
                        </div>
                        <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'fixed'">
                            <c-input :field="form.tax_deferred_contribution_fixed_amount"
                                     x-model.number="formData.taxDeferredContributionFixedAmount"/>
                        </div>
                        <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'percent_of_income'">
                            <c-input :field="form.tax_deferred_contribution_percentage"
                                     x-model.number="formData.taxDeferredContributionPercentage"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.tax_deferred_growth_rate" x-model.number="formData.taxDeferredGrowthRate"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.tax_deferred_contribution_limit_inflation_rate"
                                     x-model.number="formData.taxDeferredContributionElectiveLimitInflationRate"/>
                        </div>
                    </div>
                </div>

                <!-- Employer Match Inputs -->
                <div class="p-3 bg-skin-secondary shadow-sm shadow-purple-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Employer Contributions</h2>
                    <p class="text-sm text-skin-muted">
                        Additional tax deferred contributions made by your employer.
                    </p>

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.employer_contribution_strategy" x-model="formData.employerContributionStrategy"/>
                        </div>
                        <div class="col-span-1" x-show="formData.employerContributionStrategy === 'percentage_of_contribution'">
                            <c-input :field="form.employer_match_percentage_limit" x-model.number="formData.employerMatchPercentageLimit"/>
                        </div>
                        <div class="col-span-1" x-show="formData.employerContributionStrategy === 'percentage_of_contribution'">
                            <c-input :field="form.employer_match_percentage" x-model.number="formData.employerMatchPercentage"/>
                        </div>
                        <div class="col-span-1" x-show="formData.employerContributionStrategy === 'percentage_of_compensation'">
                            <c-input :field="form.employer_contribution_percentage"
                                     x-model.number="formData.employerContributionPercentage"/>
                        </div>
                        <div class="col-span-1" x-show="formData.employerContributionStrategy === 'fixed'">
                            <c-input :field="form.employer_contribution_fixed_amount"
                                     x-model.number="formData.employerContributionFixedAmount"/>
                        </div>
                    </div>
                </div>


                <!-- Taxable Contributions -->
                <div class="p-3 border bg-skin-tertiary shadow-sm rounded shadow-orange-200">
                    <h2 class="text-2xl font-semibold mb-3">Taxable Contributions</h2>
                    <p class="text-sm text-skin-muted">
                        Brokerage accounts where you pay taxes on capital gains, dividends, and interest as they are realized.
                    </p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <c-select :field="form.taxable_contribution_strategy" x-model="formData.taxableContributionStrategy"/>
                        <c-input :field="form.annual_taxable_contribution" x-model.number="formData.taxableContributionFixedAmount"/>
                        <c-input :field="form.taxable_contribution_percentage" x-model.number="formData.taxableContributionPercentage"/>
                        <!-- Taxable Savings Growth Rate -->
                        <c-input :field="form.taxable_savings_growth_rate" x-model.number="formData.taxableGrowthRate"/>
                    </div>
                </div>

                <!-- IRA -->
                <div class="p-3 border shadow-sm shadow-lime-200 bg-skin-primary">
                    <h2 class="text-2xl font-semibold">IRA</h2>
                    <p class="text-sm text-skin-muted">
                        These are funded with post-tax dollars and can be withdrawn tax-free in retirement (e.g., Roth IRA).
                    </p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <!-- IRA Contribution Strategy -->
                        <div class="col-span-1">
                            <c-select :field="form.ira_contribution_strategy" x-model="formData.iraContributionStrategy"/>
                        </div>
                        <!-- IRA Contribution Inputs -->
                        <div class="col-span-1" x-show="formData.iraContributionStrategy == 'fixed'">
                            <c-input :field="form.ira_contribution_fixed_amount" x-model.number="formData.iraContributionFixedAmount"/>
                        </div>
                        <div class="col-span-1" x-show="formData.iraContributionStrategy == 'percent_of_income'">
                            <c-input :field="form.ira_contribution_percentage" x-model.number="formData.iraContributionPercentage"/>
                        </div>
                        <!-- IRA Growth Rate -->
                        <div class="col-span-1">
                            <c-input :field="form.ira_growth_rate" x-model.number="formData.iraGrowthRate"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-3 border col-span-2">
                <h2 class="text-2xl font-semibold mb-3">Targets</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <c-input :field="form.target_annual_retirement_spending_pre_taxed"
                             x-model.number="formData.targetAnnualRetirementSpendingPreTaxed"/>
                    <c-input :field="form.target_end_of_life_savings_pre_taxed" x-model.number="formData.targetEndOfLifeSavingsPreTaxed"/>
                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block javascript %}
    <script>

        function setupFormData() {
            return {
                formData: {
                    /* Profile */
                    age: 38,
                    year: 2024,
                    lifeExpectancy: 75,
                    
                    /* Retirement Strategies */
                    retirementStrategy: 'debt_free',
                    retirementWithdrawalRate: 4,
                    retirementIncomeGoal: 100000,
                    retirementAge: 55,
                    retirementSavingsAmount: 2000000,
                    retirementIncomeProjected: 0,

                    /* Initial Values */
                    cash: 27000,


                    /* Income */
                    incomePreTaxed: 200000,
                    incomeTaxable: 0,
                    incomeTaxed: 0,
                    incomeDisposable: 0,
                    incomeGrowthStrategy: 'percentage_increase',
                    incomeGrowthRate: 0,
                    incomeGrowthAmount: 0,


                    /* Income Tax */
                    incomeTaxAmount: 0,
                    incomeTaxRate: 30.0,
                    incomeTaxStrategy: 'simple',
                    incomeTaxFilingStatus: 'single',
                    incomeTaxNumberOfDependents: '0',

                    /* Expenses */
                    expenses: 50000,
                    expenseRate: 2,
                    expensesGrowthStrategy: "fixed",
                    
                    /* Debt & Mortgage */
                    debt: 5000,
                    debtInterestRate: 5,
                    debtPayment: 500,
                    debtPaymentTotal: 0,

                    /* Goals */
                    targetAnnualRetirementSpendingPreTaxed: 0,
                    targetEndOfLifeSavingsPreTaxed: 0,

                    /* Tax Deferred Savings */
                    taxDeferredSavingsStartOfYear: 0,
                    taxDeferredContributionFixedAmount: 5000,
                    taxDeferredContributionStrategy: 'max',
                    taxDeferredSavingsEndOfYear: 0,
                    taxDeferredContribution: 0,
                    taxDeferredContributionTotal: 0,
                    taxDeferredGrowthStrategy: 'start',
                    taxDeferredContributionPercentage: 6,
                    taxDeferredGrowthRate: 6.0,
                    
                    taxDeferredContributionElectiveLimit: undefined,
                    taxDeferredContributionElectiveLimitApplied: undefined,
                    taxDeferredContributionCatchUpLimit: undefined,
                    taxDeferredContributionTotalElectiveLimit: undefined,
                    taxDeferredContributionTotalElectiveLimitApplied: undefined,
                    taxDeferredContributionElectiveLimitInflationRate: 2.5,

                    /* Employer Contributions */
                    employerContributionStrategy: 'percentage_of_contribution',
                    employerContribution: 0,
                    employerMatchPercentage: 100,
                    employerMatchPercentageLimit: 3,
                    employerContributionPercentage: 0,
                    employerContributionFixedAmount: 0,

                    /* IRA Savings */
                    iraSavingsInitial: 0,
                    iraContributionFixedAmount: 7000,
                    iraContribution: 0,
                    iraContributionStrategy: 'max',
                    iraSavingsStartOfYear: 0,
                    iraSavingsEndOfYear: 0,
                    iraContributionTotal: 0,
                    iraGrowthStrategy: 'start',
                    iraContributionPercentage: 0,
                    iraGrowthRate: 6.0,
                    iraContributionLimit: 7000,
                    iraContributionCatchUpLimit: 8000,

                    /* Taxable Savings */
                    taxableSavingsInitial: 0,
                    taxableContributionFixedAmount: 0,
                    taxableContribution: 0,
                    taxableContributionStrategy: 'fixed',
                    taxableSavingsStartOfYear: 0,
                    taxableSavingsEndOfYear: 0,
                    taxableContributionTotal: 0,
                    taxableGrowthStrategy: 'start',
                    taxableContributionPercentage: 0,
                    taxableGrowthRate: 6.0,

                    inflationRate: 2.0,
                    inflationGrowthStrategy: 'fixed',


                },
                getTableHeaders: ()=>{
                    let headers = []
                    document.querySelectorAll("table th").forEach(header => headers.push(header.textContent))
                    console.log(headers)
                    return headers
                    
                },
                columnFilters: Alpine.$persist({
                    age: true,
                    incomePreTaxed: true,
                    incomeTaxable: true,
                    incomeTaxed: true,
                    expenses: true,
                    debt: true,
                    incomeDisposable: true,
                    retirementStrategy: true,
                    retirementWithdrawalRate: true,
                    retirementIncomeGoal: true,
                    retirementAge: true,
                    retirementSavingsAmount: true,
                    iraSavingsStartOfYear: true,
                    iraContribution: true,
                    iraContributionTotal: true,
                    iraSavingsEndOfYear: true,
                    taxDeferredSavingsStartOfYear: true,
                    taxDeferredContribution: true,
                    employerContribution: true,
                    taxDeferredContributionTotal: true,
                    taxDeferredSavingsEndOfYear: true,
                    taxableSavingsStartOfYear: true,
                    taxableContribution: true,
                    taxableContributionTotal: true,
                    taxableSavingsEndOfYear: true,
                    cash: true,
                    savingsStartOfYear: true,
                    savingsEndOfYear: true,
                    
                }),
                results: null,

                init() {
                    this.$watch('formData', () => {
                        this.fillTable()
                    });
                    this.fillTable();
                },
                
                
                RetirementStrategies: {
                    age: (row) => row.age === row.retirementAge,
                    percent_rule: (row) => row.savingsEndOfYear * row.retirementWithdrawalRate / 100 > row.retirementIncomeGoal,
                    target_savings: (row) => row.retirementSavingsAmount >= row.savingsEndOfYear,
                    debt_free: (row) => row.debt <= 0                   
                },

                TaxDeferredContributionStrategies: {
                    fixed: (row) => row.taxDeferredContributionFixedAmount,
                    percent_of_income: (row) => {
                        return row.incomePreTaxed * (row.taxDeferredContributionPercentage / 100)
                    },
                    until_company_match: (row) => row.employerMatchPercentageLimit * row.incomePreTaxed / 100,
                    max: (row) => row.taxDeferredContributionElectiveLimit,
                },

                TaxDeferredGrowthStrategy: {
                    start: (row) => row.taxDeferredSavingsStartOfYear * (row.taxDeferredGrowthRate / 100),
                    end: (row) => row.taxDeferredSavingsEndOfYear * (row.taxDeferredGrowthRate / 100),
                },


                TaxableGrowthStrategy: {
                    start: (row) => row.taxableSavingsStartOfYear * (row.taxableGrowthRate / 100),
                    end: (row) => row.taxableSavingsEndOfYear * (row.taxableGrowthRate / 100),
                },


                TaxableContributionStrategies: {
                    fixed: (row) => row.taxableContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.taxableContributionPercentage / 100),
                },

                IraGrowthStrategy: {
                    start: (row) => row.iraSavingsStartOfYear * (row.iraGrowthRate / 100),
                    end: (row) => row.iraSavingsEndOfYear * (row.iraGrowthRate / 100),
                },

                IraContributionStrategies: {
                    fixed: (row) => row.iraContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.iraContributionPercentage / 100),
                    max: (row) => {
                        return Number(row.age) >= 50 ? row.iraContributionCatchUpLimit : row.iraContributionLimit
                    }
                },


                InflationGrowthStrategies: {
                    fixed: (row) => row.inflationRate,
                    percentage_increase: (row) => row.inflationRate * (1 + row.inflationRate / 100),
                },

                IncomeTaxStrategies: {
                    simple: (row) => row.incomeTaxable * row.incomeTaxRate / 100,
                    bracket: (row) => row.incomeTaxable * row.incomeTaxRate / 100,
                },

                IncomeGrowthStrategies: {
                    fixed: (row) => {
                        return row.incomePreTaxed
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },

                ExpenseGrowthStrategies: {
                    fixed: (row) => {
                        return row.expenses * (1 + row.expenseRate / 100)
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },

                EmployerContributionStrategies: {
                    none: (row) => 0,
                    percentage_of_contribution: (row) => {
                        let employerMatch = row.taxDeferredContribution * (row.employerMatchPercentage / 100);
                        let maxEmployerMatch = row.incomePreTaxed * row.employerMatchPercentageLimit / 100;
                        return Math.min(employerMatch, maxEmployerMatch);
                    },
                    percentage_of_compensation: (row) => {
                        return row.incomePreTaxed * (row.employerContributionPercentage / 100);
                    },
                    fixed: (row) => {
                        return row.employerContributionFixedAmount;
                    },
                },
                getEmployerContribution(row) {
                    let employerContribution = this.EmployerContributionStrategies[row.employerContributionStrategy](row);
                    let remainingTotalLimit = row.taxDeferredContributionElectiveTotalLimitApplied - row.taxDeferredContribution;

                    return Math.max(0, Math.min(employerContribution, remainingTotalLimit));
                },
                getTaxDeferredContributionTotal(row) {
                    return row.taxDeferredContribution + row.employerContribution;
                },
                getTaxDeferredSavingsEndOfYear(row) {
                    return row.taxDeferredSavingsStartOfYear + row.taxDeferredContributionTotal + row.taxDeferredGrowthAmount;
                },
                getTaxableContributionTotal(row) {
                    return row.taxableContribution;
                },
                getTaxableSavingsEndOfYear(row) {
                    return row.taxableSavingsStartOfYear + row.taxableContributionTotal + row.taxableGrowthAmount;
                },
                getIraContributionTotal(row) {
                    return row.iraContribution;
                },
                getIraSavingsEndOfYear(row) {
                    return row.iraSavingsStartOfYear + row.iraContributionTotal + row.iraGrowthAmount;
                },
                getSavingsStartOfYear(row) {
                    return row.taxDeferredSavingsStartOfYear + row.taxableSavingsStartOfYear + row.iraSavingsStartOfYear;
                },
                getSavingsEndOfYear(row) {
                    return row.taxDeferredSavingsEndOfYear + row.taxableSavingsEndOfYear + row.iraSavingsEndOfYear;
                },
                getCash(row) {
                    return row.cash + row.incomeDisposable - row.iraContribution - row.taxableContribution
                },
                getIncomeTaxed(row) {
                    return row.incomeTaxable - row.incomeTaxAmount;
                },
                getIncomeTaxable(row) {
                    return row.incomePreTaxed - row.taxDeferredContribution;
                },
                getIncomeDisposable(row) {
                    return row.incomeTaxed - row.expenses;
                },
                getTaxDeferredContribution(row) {
                    return Math.min(this.TaxDeferredContributionStrategies[row.taxDeferredContributionStrategy](row), row.taxDeferredContributionElectiveLimitApplied)
                }, 
                initializeTableRow(formData) {
                    let curRow = JSON.parse(JSON.stringify(formData));
                    
                    
                    curRow = process.ElectiveLimitsProcess.process(curRow)
                    
                    /* TODO Need to account for employer contribution more than the employee. Goal is to maximize savings */

                    /* Initialization */
                    
                    curRow.taxDeferredSavingsStartOfYear = formData.taxDeferredSavingsStartOfYear
                    
                    curRow.taxDeferredContribution = this.getTaxDeferredContribution(curRow)
                    curRow.employerContribution = this.getEmployerContribution(curRow)
                    curRow.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(curRow)
                    curRow.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[curRow.taxDeferredGrowthStrategy](curRow)
                    curRow.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(curRow)

                    curRow.taxableSavingsStartOfYear = curRow.taxableSavingsInitial
                    curRow.taxableContribution = formData.taxableContributionFixedAmount
                    curRow.taxableContribution = this.TaxableContributionStrategies[curRow.taxableContributionStrategy](curRow)
                    curRow.taxableContributionTotal = this.getTaxableContributionTotal(curRow)
                    curRow.taxableGrowthAmount = this.TaxableGrowthStrategy[curRow.taxableGrowthStrategy](curRow)
                    curRow.taxableSavingsEndOfYear = this.getTaxableSavingsEndOfYear(curRow)

                    curRow.iraSavingsStartOfYear = formData.iraSavingsInitial
                    curRow.iraContribution = formData.iraContributionFixedAmount
                    curRow.iraContribution = this.IraContributionStrategies[formData.iraContributionStrategy](curRow)
                    curRow.iraContributionTotal = this.getIraContributionTotal(curRow)
                    curRow.iraGrowthAmount = this.IraGrowthStrategy[formData.iraGrowthStrategy](curRow)
                    curRow.iraSavingsEndOfYear = this.getIraSavingsEndOfYear(curRow)
                    
                    curRow.debtPayment = Math.min(curRow.debtPayment, curRow.debt)
                    curRow.debt -= curRow.debtPayment
                    curRow.debtPaymentTotal += curRow.debtPayment

                    curRow.savingsStartOfYear = this.getSavingsStartOfYear(curRow)
                    curRow.savingsEndOfYear = this.getSavingsEndOfYear(curRow)

                    curRow.incomeTaxable = this.getIncomeTaxable(curRow)
                    curRow.incomeTaxAmount = this.IncomeTaxStrategies[formData.incomeTaxStrategy](curRow)
                    curRow.incomeTaxed = this.getIncomeTaxed(curRow)
                    
                    curRow.retirementIncomeProjected = curRow.savingsEndOfYear * curRow.retirementWithdrawalRate / 100
                    
                    curRow.incomeDisposable = this.getIncomeDisposable(curRow)
                    curRow.cash = this.getCash(curRow)

                    return curRow;

                }, updateRow(previousRow) {
                    let curRow = JSON.parse(JSON.stringify(previousRow));
                    curRow.age += 1
                    curRow.year += 1
                    curRow.incomePreTaxed = this.IncomeGrowthStrategies[curRow.incomeGrowthStrategy](curRow)
                    
                    
                    curRow = process.ElectiveLimitsProcess.process(curRow)
                    
                    curRow.retirementIncomeGoal += curRow.retirementIncomeGoal * curRow.inflationRate / 100

                    curRow.taxDeferredSavingsStartOfYear = curRow.taxDeferredSavingsEndOfYear

                    curRow.taxDeferredContribution = this.getTaxDeferredContribution(curRow)
                    curRow.employerContribution = this.getEmployerContribution(curRow)
                    curRow.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(curRow)
                    curRow.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[curRow.taxDeferredGrowthStrategy](curRow)
                    curRow.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(curRow)

                    curRow.taxableSavingsStartOfYear = curRow.taxableSavingsEndOfYear
                    curRow.taxableContribution = this.TaxableContributionStrategies[curRow.taxableContributionStrategy](curRow)
                    curRow.taxableContributionTotal = this.getTaxableContributionTotal(curRow)
                    curRow.taxableGrowthAmount = this.TaxableGrowthStrategy[curRow.taxableGrowthStrategy](curRow)
                    curRow.taxableSavingsEndOfYear = this.getTaxableSavingsEndOfYear(curRow)

                    curRow.iraSavingsStartOfYear = curRow.iraSavingsEndOfYear
                    curRow.iraContribution = this.IraContributionStrategies[curRow.iraContributionStrategy](curRow)
                    curRow.iraContributionTotal = this.getIraContributionTotal(curRow)
                    curRow.iraGrowthAmount = this.IraGrowthStrategy[curRow.iraGrowthStrategy](curRow)
                    curRow.iraSavingsEndOfYear = this.getIraSavingsEndOfYear(curRow)
                    
                    curRow.debt = curRow.debt * (1 + curRow.debtInterestRate / 100)
                    curRow.debtPayment = Math.min(curRow.debtPayment, curRow.debt)
                    curRow.debt -= curRow.debtPayment
                    curRow.debtPaymentTotal += curRow.debtPayment

                    curRow.savingsStartOfYear = this.getSavingsStartOfYear(curRow)
                    curRow.savingsEndOfYear = this.getSavingsEndOfYear(curRow)
                    
                    curRow.retirementIncomeProjected = curRow.savingsEndOfYear * curRow.retirementWithdrawalRate / 100

                    curRow.expenses = this.ExpenseGrowthStrategies[curRow.expensesGrowthStrategy](curRow)
                    curRow.incomeTaxable = this.getIncomeTaxable(curRow)
                    curRow.incomeTaxAmount = this.IncomeTaxStrategies[curRow.incomeTaxStrategy](curRow)
                    curRow.incomeTaxed = this.getIncomeTaxed(curRow)
                    curRow.incomeDisposable = this.getIncomeDisposable(curRow)
                    curRow.cash = this.getCash(curRow)
                    return curRow;
                }, fillTable() {
                    let firstRow = this.initializeTableRow(this.formData);
                    let table = [firstRow];
                    let rowIndex = 0
                    
                    while (table[rowIndex].age <= table[rowIndex].lifeExpectancy && !this.RetirementStrategies[this.formData.retirementStrategy](table[rowIndex])) {
                        let previousRow = table[rowIndex];
                        let curRow = this.updateRow(previousRow);
                        table.push(curRow);
                        rowIndex += 1;
                        
                    }

                    this.results = table;
                },
            }
        }
    </script>
{% endblock %}