{% extends 'tools/base.html' %}
{% block head %}
{% endblock %}
{% block head_title %}Retirement Calculator{% endblock %}
{% block content %}
    <h1 class="text-4xl font-semibold mb-6">Retirement Calculator</h1>
    <div x-data="setupFormData()" class="grid grid-cols-2 gap-3">

        <div class="col-span-2">
            <table class="table-auto border border-collapse">
                <thead class="text-xs">
                <tr>
                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-tertiary" colspan="6">Profile</th>
                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-primary" colspan="4">IRA</th>
                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-secondary" colspan="5">Tax Deferred</th>
                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-tertiary" colspan="4">Taxable</th>
                    <th class="text-left px-4 py-1 font-semibold text-base bg-skin-primary" colspan="3">Savings</th>
                </tr>
                <tr>
                    <th class="px-4 py-1 text-start  bg-skin-tertiary/60">Age</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Pre-Tax</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Taxable</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Post-Tax</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Expenses</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Disposable</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Savings (SOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Total Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Savings (EOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-secondary/60">Tax Deferred (SOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-secondary/60">Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-secondary/60">Employer Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-secondary/60">Total Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-secondary/60">Tax Deferred (EOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Savings (SOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Total Contribution</th>
                    <th class="px-4 py-1 text-end  bg-skin-tertiary/60">Savings (EOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Cash</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Savings (SOY)</th>
                    <th class="px-4 py-1 text-end  bg-skin-primary/60">Savings (EOY)</th>
                </tr>
                </thead>
                <tbody class="text-sm">
                <template x-for="(row, index) in results">
                    <tr class="border-b">
                        <td class="px-4 py-1 bg-skin-tertiary"><span x-text="row.age"></span></td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.incomePreTaxed.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.incomeTaxable.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.incomeTaxed.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.expensesTaxed.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.incomeDisposable.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span></td>


                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.iraSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.iraContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.iraContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.iraSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>


                        <td class="px-4 py-1 text-end bg-skin-secondary/40"><span
                                x-text="row.taxDeferredSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-secondary/40"><span
                                x-text="row.taxDeferredContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-secondary/40"><span
                                x-text="row.taxDeferredCompanyContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-secondary/40"><span
                                x-text="row.taxDeferredContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-secondary/40"><span
                                x-text="row.taxDeferredSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>

                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.taxableSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.taxableContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.taxableContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-tertiary/40"><span
                                x-text="row.taxableSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span :class="row.cash < 0 && 'text-skin-error'"
                                                                      x-text="row.cash.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.savingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="px-4 py-1 text-end bg-skin-primary/40"><span
                                x-text="row.savingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="col-span-2 grid grid-cols-2 gap-3">
            <div class="space-y-3">
                <div class="p-3 border bg-skin-tertiary shadow-sm shadow-red-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Personal Information</h2>
                    <div class="grid grid-cols-3 gap-3">
                        <c-input :field="form.age" x-model.number="formData.age"/>
                        <c-input :field="form.retirement_age" x-model.number="formData.retirementAge"/>
                        <c-input :field="form.life_expectancy" x-model.number="formData.lifeExpectancy"/>
                    </div>
                </div>

                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Income and Expenses</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <div class="col-span-1">
                            <c-input :field="form.income_pre_taxed" x-model.number="formData.incomePreTaxedInitial"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.income_growth_rate" x-model.number="formData.incomeGrowthRate"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.annual_expenses" x-model.number="formData.expensesTaxedInitial"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.income_growth_strategy" x-model.number="formData.incomeGrowthStrategy"/>
                        </div>
                    </div>
                </div>

                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Taxes</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.income_tax_strategy" x-model="formData.incomeTaxStrategy"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.income_tax_rate" x-model.number="formData.incomeTaxRate"/>
                        </div>
                        <div class="col-span-1">
                            <c-select :field="form.filing_status" x-model="formData.incomeTaxFilingStatus"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.number_of_dependents" x-model.number="formData.incomeTaxNumberOfDependents"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.is_blind" x-model.number="formData.isBlind"/>
                        </div>
                    </div>
                </div>

                <div class="p-3 border">
                    <h2 class="text-2xl font-semibold mb-3">Savings</h2>
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                        <div class="col-span-1">
                            <c-input :field="form.cash" x-model.number="formData.cashInitial"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.tax_deferred_savings" x-model.number="formData.taxDeferredInitialSavings"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.taxable_savings" x-model.number="formData.taxableSavingsInitial"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.ira_savings" x-model.number="formData.iraSavingsInitial"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-y-3">
                <div class="p-3 bg-skin-secondary shadow-sm shadow-purple-200 rounded">
                    <h2 class="text-2xl font-semibold mb-3">Tax Deferred Contributions</h2>
                    <p class="text-sm text-skin-muted">These grow tax-free until retirement, but withdrawals are taxed (e.g.,
                        401(k),
                        Traditional Ira).</p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.tax_deferred_contribution_strategy" x-model="formData.taxDeferredContributionStrategy"/>
                        </div>
                        <div class="col-span-1">
                            <c-input :field="form.company_match_limit" x-model.number="formData.taxDeferredCompanyMatchLimit"/>
                        </div>
                        <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'fixed'">
                            <c-input :field="form.annual_tax_deferred_contribution"
                                     x-model.number="formData.taxDeferredContributionInitial"/>
                        </div>
                        <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'percent_of_income'">
                            <c-input :field="form.tax_deferred_contribution_percentage"
                                     x-model.number="formData.taxDeferredContributionPercentage"/>
                        </div>
                    </div>
                </div>
                <div class="p-3 border bg-skin-tertiary shadow-sm rounded shadow-orange-200">
                    <h2 class="text-2xl font-semibold mb-3">Taxable</h2>
                    <p class="text-sm text-skin-muted">Brokerage accounts where you pay taxes on capital gains, dividends, and
                        interest as they are realized.</p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                        <c-select :field="form.taxable_contribution_strategy" x-model="formData.taxableContributionStrategy"/>
                        <c-input :field="form.annual_taxable_contribution" x-model.number="formData.taxableContributionInitial"/>
                        <c-input :field="form.taxable_contribution_percentage" x-model.number="formData.taxableContributionPercentage"/>
                    </div>
                </div>
                <div class="p-3 border shadow-sm shadow-lime-200 bg-skin-primary">
                    <h2 class="text-2xl font-semibold">IRA</h2>
                    <p class="text-sm text-skin-muted">These are funded with post-tax dollars and can be withdrawn tax-free in
                        retirement (e.g., Roth Ira).</p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="col-span-1">
                            <c-select :field="form.ira_contribution_strategy" x-model="formData.iraContributionStrategy"/>
                        </div>
                        <div x-show="formData.iraContributionStrategy === 'fixed'">
                            <c-input :field="form.annual_ira_contribution" x-model.number="formData.iraContributionInitial"/>
                        </div>
                        <div x-show="formData.iraContributionStrategy === 'percent_of_income'">
                            <c-input :field="form.ira_contribution_percentage"
                                     x-model.number="formData.iraContributionPercentage"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="p-3 border col-span-2">
                <h2 class="text-2xl font-semibold mb-3">Targets</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <c-input :field="form.target_annual_retirement_spending_pre_taxed"
                             x-model.number="formData.targetAnnualRetirementSpendingPreTaxed"/>
                    <c-input :field="form.target_end_of_life_savings_pre_taxed" x-model.number="formData.targetEndOfLifeSavingsPreTaxed"/>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>

        function setupFormData() {
            return {
                formData: {
                    /* Profile */
                    age: 38,
                    retirementAge: 45,
                    lifeExpectancy: 55,

                    /* Initial Values */
                    cashInitial: 27000,
                    cash: 0,


                    /* Income */
                    incomePreTaxedInitial: 100000,
                    incomePreTaxed: 0,
                    incomeTaxable: 0,
                    incomeTaxed: 0,
                    incomeDisposable: 0,
                    incomeGrowthStrategy: 'percentage_increase',
                    incomeGrowthRate: 0,
                    incomeGrowthAmount: 0,

                    
                    /* Income Tax */
                    incomeTaxAmount: 0,
                    incomeTaxRate: 30.0,
                    incomeTaxStrategy: 'simple',
                    incomeTaxFilingStatus: 'single',
                    incomeTaxNumberOfDependents: '0',

                    /* Expenses */
                    expensesTaxedInitial: 50000,
                    expensesTaxed: 50000,
                    expenseRate: 2,
                    expensesGrowthStrategy: "fixed",

                    /* Goals */
                    targetAnnualRetirementSpendingPreTaxed: 0,
                    targetEndOfLifeSavingsPreTaxed: 0,
                    
                    /* Tax Deferred Savings */
                    taxDeferredInitialSavings: 40000,
                    taxDeferredContributionInitial: 5000,
                    taxDeferredContributionStrategy: 'percent_of_income',
                    taxDeferredSavingsStartOfYear: 0,
                    taxDeferredSavingsEndOfYear: 0,
                    taxDeferredContribution: 0,
                    taxDeferredCompanyContribution: 0,
                    taxDeferredContributionTotal: 0,
                    taxDeferredGrowthStrategy: 'start',
                    taxDeferredContributionPercentage: 6,
                    taxDeferredCompanyMatchLimit: 3,
                    taxDeferredGrowthRate: 6.0,
                    taxDeferredContributionLimit: 22500,
                    taxDeferredContributionCatchUpLimit: 7500,

                    /* IRA Savings */
                    iraSavingsInitial: 7000,
                    iraContributionInitial: 7000,
                    iraContribution: 0,
                    iraContributionStrategy: 'max',
                    iraSavingsStartOfYear: 0,
                    iraSavingsEndOfYear: 0,
                    iraContributionTotal: 0,
                    iraGrowthStrategy: 'start',
                    iraContributionPercentage: 0,
                    iraGrowthRate: 6.0,
                    iraContributionLimit: 7000,
                    iraContributionCatchUpLimit: 8000,

                    /* Taxable Savings */
                    taxableSavingsInitial: 23000,
                    taxableContributionInitial: 0,
                    taxableContribution: 0,
                    taxableContributionStrategy: 'fixed',
                    taxableSavingsStartOfYear: 0,
                    taxableSavingsEndOfYear: 0,
                    taxableContributionTotal: 0,
                    taxableGrowthStrategy: 'start',
                    taxableContributionPercentage: 0,
                    taxableGrowthRate: 6.0,

                    inflationRate: 2.0,
                    inflationGrowthStrategy: 'fixed',


                },
                results: null,

                init() {
                    this.$watch('formData', () => {
                        this.fillTable()
                    });
                    this.fillTable();
                },

                TaxDeferredContributionStrategies: {
                    fixed: (row) => row.taxDeferredContribution,
                    percent_of_income: (row) => {
                        return row.incomePreTaxed * (row.taxDeferredContributionPercentage / 100)
                    },
                    until_company_match: (row) => row.taxDeferredCompanyMatchLimit * row.incomePreTaxed / 100,
                },

                TaxDeferredGrowthStrategy: {
                    start: (row) => row.taxDeferredSavingsStartOfYear * (row.taxDeferredGrowthRate / 100),
                    end: (row) => row.taxDeferredSavingsEndOfYear * (row.taxDeferredGrowthRate / 100),
                },


                TaxableGrowthStrategy: {
                    start: (row) => row.taxableSavingsStartOfYear * (row.taxableGrowthRate / 100),
                    end: (row) => row.taxableSavingsEndOfYear * (row.taxableGrowthRate / 100),
                },


                TaxableContributionStrategies: {
                    fixed: (row) => row.taxableContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.taxableContributionPercentage / 100),
                },

                IraGrowthStrategy: {
                    start: (row) => row.iraSavingsStartOfYear * (row.iraGrowthRate / 100),
                    end: (row) => row.iraSavingsEndOfYear * (row.iraGrowthRate / 100),
                },

                IraContributionStrategies: {
                    fixed: (row) => row.iraContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.iraContributionPercentage / 100),
                    max: (row) => {
                        return Number(row.age) >= 50 ? row.iraContributionCatchUpLimit : row.iraContributionLimit
                    }
                },


                InflationGrowthStrategies: {
                    fixed: (row) => row.inflationRate,
                    percentage_increase: (row) => row.inflationRate * (1 + row.inflationRate / 100),
                },

                IncomeTaxStrategies: {
                    simple: (row) => row.incomeTaxable * row.incomeTaxRate / 100,
                    bracket: (row) => row.incomeTaxable * row.incomeTaxRate / 100,
                },

                IncomeGrowthStrategies: {
                    fixed: (row) => {
                        return row.incomePreTaxed
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },

                ExpenseGrowthStrategies: {
                    fixed: (row) => {
                        return row.expensesTaxed * (1 + row.expenseRate / 100)
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },
                getAnnualCompanyTaxDeferredContribution(row) {
                    return Math.min(row.taxDeferredContribution, row.incomePreTaxed * row.taxDeferredCompanyMatchLimit / 100);
                },
                getTaxDeferredContributionTotal(row) {
                    return row.taxDeferredContribution + row.taxDeferredCompanyContribution;
                },
                getTaxDeferredSavingsEndOfYear(row) {
                    return row.taxDeferredSavingsStartOfYear + row.taxDeferredContributionTotal + row.taxDeferredGrowthAmount;
                },
                getTaxableContributionTotal(row) {
                    return row.taxableContribution;
                },
                getTaxableSavingsEndOfYear(row) {
                    return row.taxableSavingsStartOfYear + row.taxableContributionTotal + row.taxableGrowthAmount;
                },
                getIraContributionTotal(row) {
                    return row.iraContribution;
                },
                getIraSavingsEndOfYear(row) {
                    return row.iraSavingsStartOfYear + row.iraContributionTotal + row.iraGrowthAmount;
                },
                getSavingsStartOfYear(row) {
                    return row.taxDeferredSavingsStartOfYear + row.taxableSavingsStartOfYear + row.iraSavingsStartOfYear;
                },
                getSavingsEndOfYear(row) {
                    return row.taxDeferredSavingsEndOfYear + row.taxableSavingsEndOfYear + row.iraSavingsEndOfYear;
                },
                getCash(row) {
                    return row.cash + row.incomeTaxed - row.expensesTaxed - row.iraContribution - row.taxableContribution
                },
                getIncomeTaxed(row) {
                    return row.incomeTaxable - row.incomeTaxAmount;
                },
                getIncomeTaxable(row) {
                    return row.incomePreTaxed - row.taxDeferredContribution;
                },
                getIncomeDisposable(row) {
                    return row.incomeTaxed - row.expensesTaxed;
                },
                fillTable() {
                    let curRow = JSON.parse(JSON.stringify(this.formData));

                    curRow.cash = curRow.cashInitial
                    curRow.incomePreTaxed = this.formData.incomePreTaxedInitial
                    curRow.expensesTaxed = this.formData.expensesTaxedInitial


                    curRow.taxDeferredSavingsStartOfYear = curRow.taxDeferredInitialSavings
                    curRow.taxDeferredContribution = curRow.taxDeferredContributionInitial
                    curRow.taxDeferredContribution = this.TaxDeferredContributionStrategies[curRow.taxDeferredContributionStrategy](curRow)
                    curRow.taxDeferredCompanyContribution = this.getAnnualCompanyTaxDeferredContribution(curRow)
                    curRow.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(curRow)
                    curRow.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[curRow.taxDeferredGrowthStrategy](curRow)
                    curRow.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(curRow)

                    curRow.taxableSavingsStartOfYear = curRow.taxableSavingsInitial
                    curRow.taxableContribution = this.formData.taxableContributionInitial
                    curRow.taxableContribution = this.TaxableContributionStrategies[curRow.taxableContributionStrategy](curRow)
                    curRow.taxableContributionTotal = this.getTaxableContributionTotal(curRow)
                    curRow.taxableGrowthAmount = this.TaxableGrowthStrategy[curRow.taxableGrowthStrategy](curRow)
                    curRow.taxableSavingsEndOfYear = this.getTaxableSavingsEndOfYear(curRow)

                    curRow.iraSavingsStartOfYear = this.formData.iraSavingsInitial
                    curRow.iraContribution = this.formData.iraContributionInitial
                    curRow.iraContribution = this.IraContributionStrategies[this.formData.iraContributionStrategy](curRow)
                    curRow.iraContributionTotal = this.getIraContributionTotal(curRow)
                    curRow.iraGrowthAmount = this.IraGrowthStrategy[this.formData.iraGrowthStrategy](curRow)
                    curRow.iraSavingsEndOfYear = this.getIraSavingsEndOfYear(curRow)

                    curRow.savingsStartOfYear = this.getSavingsStartOfYear(curRow)
                    curRow.savingsEndOfYear = this.getSavingsEndOfYear(curRow)

                    curRow.incomeTaxable = this.getIncomeTaxable(curRow)
                    curRow.incomeTaxAmount = this.IncomeTaxStrategies[this.formData.incomeTaxStrategy](curRow)
                    curRow.incomeTaxed = this.getIncomeTaxed(curRow)
                    curRow.incomeDisposable = this.getIncomeDisposable(curRow)
                    curRow.cash = this.getCash(curRow)

                    let table = [curRow];

                    for (let i = 1; i <= this.formData.retirementAge - this.formData.age; i++) {
                        let curRow = JSON.parse(JSON.stringify(table[i - 1]));
                        curRow.age += 1
                        curRow.incomePreTaxed = this.IncomeGrowthStrategies[curRow.incomeGrowthStrategy](curRow)

                        curRow.taxDeferredSavingsStartOfYear = curRow.taxDeferredSavingsEndOfYear
                        curRow.taxDeferredContribution = this.TaxDeferredContributionStrategies[this.formData.taxDeferredContributionStrategy](curRow)
                        curRow.taxDeferredCompanyContribution = this.getAnnualCompanyTaxDeferredContribution(curRow)
                        curRow.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(curRow)
                        curRow.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[this.formData.taxDeferredGrowthStrategy](curRow)
                        curRow.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(curRow)

                        curRow.taxableSavingsStartOfYear = curRow.taxableSavingsEndOfYear
                        curRow.taxableContribution = this.TaxableContributionStrategies[this.formData.taxableContributionStrategy](curRow)
                        curRow.taxableContributionTotal = this.getTaxableContributionTotal(curRow)
                        curRow.taxableGrowthAmount = this.TaxableGrowthStrategy[this.formData.taxableGrowthStrategy](curRow)
                        curRow.taxableSavingsEndOfYear = this.getTaxableSavingsEndOfYear(curRow)

                        curRow.iraSavingsStartOfYear = curRow.iraSavingsEndOfYear
                        curRow.iraContribution = this.IraContributionStrategies[this.formData.iraContributionStrategy](curRow)
                        curRow.iraContributionTotal = this.getIraContributionTotal(curRow)
                        curRow.iraGrowthAmount = this.IraGrowthStrategy[this.formData.iraGrowthStrategy](curRow)
                        curRow.iraSavingsEndOfYear = this.getIraSavingsEndOfYear(curRow)

                        curRow.savingsStartOfYear = this.getSavingsStartOfYear(curRow)
                        curRow.savingsEndOfYear = this.getSavingsEndOfYear(curRow)


                        curRow.expensesTaxed = this.ExpenseGrowthStrategies[curRow.expensesGrowthStrategy](curRow)
                        curRow.incomeTaxable = this.getIncomeTaxable(curRow)
                        curRow.incomeTaxAmount = this.IncomeTaxStrategies[this.formData.incomeTaxStrategy](curRow)
                        curRow.incomeTaxed = this.getIncomeTaxed(curRow)
                        curRow.incomeDisposable = this.getIncomeDisposable(curRow)
                        curRow.cash = this.getCash(curRow)


                        table.push(curRow);
                    }

                    this.results = table;
                },
            }
        }
    </script>
{% endblock %}