{% extends 'tools/base.html' %}
{% block head_title %}Retirement Calculator{% endblock %}
{% block content %}
    <h1 class="text-4xl font-semibold mb-6">Retirement Calculator</h1>
    <div x-data="setupFormData()" class="grid grid-cols-2 gap-3">
        <div class="space-y-3 col-span-1">
            <h2 class="text-2xl font-semibold mb-4"></h2>
            <div class="p-3 border">
                <h2 class="text-2xl font-semibold">Personal Information</h2>
                <div class="grid grid-cols-3 gap-3">
                    <c-input :field="form.age" x-model.number="formData.age"/>
                    <c-input :field="form.retirement_age" x-model.number="formData.retirementAge"/>
                    <c-input :field="form.life_expectancy" x-model.number="formData.lifeExpectancy"/>
                </div>
            </div>

            <div class="p-3 border">
                <h2 class="text-2xl font-semibold mb-3">Income and Expenses</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    <div class="col-span-1">
                        <c-input :field="form.income_pre_taxed" x-model.number="formData.incomePreTaxed"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.income_growth_rate" x-model.number="formData.incomeGrowthRate"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.annual_expenses" x-model.number="formData.annualExpenses"/>
                    </div>
                    <div class="col-span-1">
                        <c-select :field="form.income_growth_strategy" x-model.number="formData.incomeGrowthStrategy"/>
                    </div>
                </div>
            </div>

            <div class="p-3 border">
                <h2 class="text-2xl font-semibold mb-3">Savings</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    <div class="col-span-1">
                        <c-input :field="form.cash" x-model.number="formData.cash"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.tax_deferred_savings" x-model.number="formData.taxDeferredInitialSavings"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.taxable_savings" x-model.number="formData.taxableSavings"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.tax_exempt_savings" x-model.number="formData.taxExemptSavings"/>
                    </div>
                </div>
            </div>
            <div class="p-3 border">
                <h2 class="text-2xl font-semibold mb-3">Tax Deferred Contributions</h2>
                <p class="text-sm text-skin-muted">These grow tax-free until retirement, but withdrawals are taxed (e.g.,
                    401(k),
                    Traditional IRA).</p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="col-span-1">
                        <c-select :field="form.tax_deferred_contribution_strategy" x-model="formData.taxDeferredContributionStrategy"/>
                    </div>
                    <div class="col-span-1">
                        <c-input :field="form.company_match_limit" x-model.number="formData.taxDeferredCompanyMatchLimit"/>
                    </div>
                    <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'fixed'">
                        <c-input :field="form.annual_tax_deferred_contribution"
                                 x-model.number="formData.annualTaxDeferredContribution"/>
                    </div>
                    <div class="col-span-1" x-show="formData.taxDeferredContributionStrategy == 'percent_of_income'">
                        <c-input :field="form.tax_deferred_contribution_percentage"
                                 x-model.number="formData.taxDeferredContributionPercentage"/>
                    </div>
                </div>
            </div>
            <div class="p-3 border">
                <h2 class="text-2xl font-semibold mb-3">Taxable</h2>
                <p class="text-sm text-skin-muted">Brokerage accounts where you pay taxes on capital gains, dividends, and
                    interest as they are realized.</p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                    <c-select :field="form.taxable_contribution_strategy" x-model="formData.taxableContributionStrategy"/>
                    <c-input :field="form.annual_taxable_contribution" x-model.number="formData.annualTaxableContribution"/>
                    <c-input :field="form.taxable_contribution_percentage" x-model.number="formData.taxableContributionPercentage"/>
                </div>
            </div>
            <div class="p-3 border">
                <h2 class="text-xl font-semibold">Tax Exempt</h2>
                <p class="text-sm text-skin-muted">These are funded with post-tax dollars and can be withdrawn tax-free in
                    retirement (e.g., Roth IRA).</p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="col-span-1">
                        <c-select :field="form.tax_exempt_contribution_strategy" x-model="formData.taxExemptContributionStrategy"/>
                    </div>
                    <div x-show="formData.taxExemptContributionStrategy === 'fixed'" class="col-span-1">
                        <c-input :field="form.annual_tax_exempt_contribution" x-model.number="formData.annualTaxExemptContribution"/>
                    </div>
                    <div x-show="formData.taxExemptContributionStrategy === 'percent_of_income'" class="col-span-2">
                        <c-input :field="form.tax_exempt_percentage" x-model.number="formData.taxExemptPercentage"/>
                    </div>
                </div>
            </div>


            <div class="p-3 border">
                <h2 class="text-2xl font-semibold mb-3">Targets</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <c-input :field="form.target_annual_retirement_spending_pre_taxed"
                             x-model.number="formData.targetAnnualRetirementSpendingPreTaxed"/>
                    <c-input :field="form.target_end_of_life_savings_pre_taxed" x-model.number="formData.targetEndOfLifeSavingsPreTaxed"/>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <table class="text-xs">
                <thead>
                <tr>
                    <th class="text-start">Age</th>
                    <th class="text-end">Tax Deferred (SOY)</th>
                    <th class="text-end">Contribution</th>
                    <th class="text-end">Employer Contribution</th>
                    <th class="text-end">Total Contribution</th>
                    <th class="text-end">Tax Deferred (EOY)</th>
                </tr>
                </thead>
                <tbody>
                <template x-for="(row, index) in results">
                    <tr>
                        <td><span x-text="row.age"></span></td>
                        <td class="text-end"><span
                                x-text="row.taxDeferredSavingsStartOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="text-end"><span
                                x-text="row.taxDeferredContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="text-end"><span
                                x-text="row.taxDeferredCompanyContribution.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="text-end"><span
                                x-text="row.taxDeferredContributionTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                        <td class="text-end"><span
                                x-text="row.taxDeferredSavingsEndOfYear.toLocaleString('en-US', { style: 'currency', currency: 'USD' })"></span>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>

        function setupFormData() {
            return {
                formData: {
                    /* Profile */
                    age: 30,
                    retirementAge: 55,
                    lifeExpectancy: 85,

                    /* Initial Values */
                    cash: 27000,
                    bankSavings: 0,

                    incomePreTaxed: 100000,
                    annualExpenses: 50000,
                    /* Goals */
                    targetAnnualRetirementSpendingPreTaxed: 0,
                    targetEndOfLifeSavingsPreTaxed: 0,

                    taxDeferredInitialSavings: 40000,
                    annualTaxDeferredContribution: 5000,
                    taxDeferredSavingsStartOfYear: 0,
                    taxDeferredSavingsEndOfYear: 0,
                    taxDeferredContribution: 0,
                    taxDeferredCompanyContribution: 0,
                    taxDeferredContributionTotal: 0,
                    taxDeferredContributionStrategy: 'percent_of_income',
                    taxDeferredContributionPercentage: 6,
                    taxDeferredCompanyMatchLimit: 3,
                    taxDeferredGrowthRate: 6.0,

                    taxableSavings: 23000,
                    annualTaxableContribution: 5000,
                    taxableContributionStrategy: 'fixed',
                    taxableContributionPercentage: 0,
                    taxableSavingsGrowthRate: 6.0,

                    taxExemptSavings: 0,
                    annualTaxExemptContribution: 7000,
                    taxExemptContributionStrategy: 'fixed',
                    taxExemptContributionPercentage: 0,
                    taxExemptSavingsGrowthRate: 6.0,
                    expenseRate: 2,
                    expensesGrowthStrategy: "fixed",

                    inflationRate: 2.0,
                    inflationGrowthStrategy: 'fixed',

                    taxRate: 30.0,
                    taxRateGrowthStrategy: 'fixed',

                    incomeTaxed: null,
                    incomeGrowthStrategy: 'percentage_increase',
                    incomeGrowthRate: 0, 
                    taxDeferredGrowthStrategy: 'start'


                },
                results: null,
                init() {
                    this.$watch('formData', () => {
                        this.fillTable()
                    });
                    this.$watch('formData.taxDeferredContributionStrategy', (value) => {
                        this.formData.taxDeferredContributionStrategy = value
                    });
                    this.$watch('formData.taxableContributionStrategy', (value) => this.formData.taxableContributionStrategy = value);
                    this.$watch('formData.taxExemptContributionStrategy', (value) => this.formData.taxExemptContributionStrategy = value);
                    this.$watch('formData.bankContributionStrategy', (value) => this.formData.bankContributionStrategy = value);
                    this.$watch('formData.inflationGrowthStrategy', (value) => this.inflationGrowthStrategy = value);
                    this.$watch('formData.taxRateGrowthStrategy', (value) => this.taxRateGrowthStrategy = value);
                    this.$watch('formData.incomeGrowthStrategy', (value) => this.incomeGrowthStrategy = value);
                    this.fillTable();
                },

                TaxDeferredContributionStrategies: {
                    fixed: (row) => row.annualTaxDeferredContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.taxDeferredContributionPercentage / 100),
                    until_company_match: (row) => row.taxDeferredCompanyMatchLimit * row.incomePreTaxed / 100,
                },
                
                TaxDeferredGrowthStrategy: {
                    start: (row) => row.taxDeferredSavingsStartOfYear * (row.taxDeferredGrowthRate / 100),
                    end: (row) => row.taxDeferredSavingsEndOfYear * (row.taxDeferredGrowthRate / 100),
                },


                TaxableContributionStrategies: {
                    fixed: (row) => row.annualTaxableContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.taxableContributionPercentage / 100),
                },

                TaxExemptContributionStrategies: {
                    fixed: (row) => row.annualTaxExemptContribution,
                    percent_of_income: (row) => row.incomePreTaxed * (row.taxExemptContributionPercentage / 100),
                },


                InflationGrowthStrategies: {
                    fixed: (row) => row.inflationRate,
                    percentage_increase: (row) => row.inflationRate * (1 + row.inflationRate / 100),
                },

                TaxRateGrowthStrategies: {
                    fixed: (row) => row.taxRate,
                    percentage_increase: (row) => row.taxRate * (1 + row.taxRate / 100),
                },

                IncomeGrowthStrategies: {
                    fixed: (row) => {
                        return row.incomePreTaxed
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },

                ExpenseGrowthStrategies: {
                    fixed: (row) => {
                        return row.annualExpenses * (1 + row.expenseRate / 100)
                    },
                    percentage_increase: (row) => row.incomePreTaxed * (1 + row.incomeGrowthRate / 100),
                },
                getAnnualCompanyTaxDeferredContribution(row) {
                    return Math.min(row.annualTaxDeferredContribution, row.incomePreTaxed * row.taxDeferredCompanyMatchLimit / 100);
                },
                getTaxDeferredContributionTotal(row) {
                    return row.taxDeferredContribution + row.taxDeferredCompanyContribution;
                },
                getTaxDeferredSavingsEndOfYear(row) {
                    return row.taxDeferredSavingsStartOfYear + row.taxDeferredContributionTotal + row.taxDeferredGrowthAmount;
                }, 
                fillTable() {

                    this.formData.incomeTaxed = this.formData.incomePreTaxed * (1 - this.formData.taxRate / 100)
                    
                    this.formData.taxDeferredSavingsStartOfYear = this.formData.taxDeferredInitialSavings
                    this.formData.taxDeferredContribution = this.TaxDeferredContributionStrategies[this.formData.taxDeferredContributionStrategy](this.formData)
                    this.formData.taxDeferredCompanyContribution = this.getAnnualCompanyTaxDeferredContribution(this.formData)
                    this.formData.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(this.formData)
                    this.formData.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[this.formData.taxDeferredGrowthStrategy](this.formData)
                    this.formData.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(this.formData)
                    let table = [this.formData];

                    for (let i = 1; i <= this.formData.retirementAge - this.formData.age; i++) {
                        let curRow = JSON.parse(JSON.stringify(table[i - 1]));
                        curRow.age += 1

                        curRow.incomePreTaxed = this.IncomeGrowthStrategies[curRow.incomeGrowthStrategy](curRow)
                        curRow.annualExpenses = this.ExpenseGrowthStrategies[curRow.expensesGrowthStrategy](curRow)
                        curRow.cash = this.calculateCash(curRow)

                        curRow.taxDeferredSavingsStartOfYear = curRow.taxDeferredSavingsEndOfYear
                        curRow.taxDeferredContribution = this.TaxDeferredContributionStrategies[this.formData.taxDeferredContributionStrategy](curRow)
                        curRow.taxDeferredCompanyContribution = this.getAnnualCompanyTaxDeferredContribution(curRow)
                        curRow.taxDeferredContributionTotal = this.getTaxDeferredContributionTotal(curRow)
                        curRow.taxDeferredGrowthAmount = this.TaxDeferredGrowthStrategy[this.formData.taxDeferredGrowthStrategy](curRow)
                        curRow.taxDeferredSavingsEndOfYear = this.getTaxDeferredSavingsEndOfYear(curRow)
                        
                        
                        curRow.annualTaxExemptContribution = this.TaxExemptContributionStrategies[this.formData.taxExemptContributionStrategy](curRow)
                        curRow.annualTaxableContribution = this.TaxableContributionStrategies[this.formData.taxableContributionStrategy](curRow)
                        curRow.taxDeferredInitialSavings = curRow.taxDeferredInitialSavings * (1 + curRow.taxDeferredGrowthRate / 100) + curRow.annualTaxDeferredContribution
                        curRow.taxExemptSavings = curRow.taxExemptSavings * (1 + curRow.taxExemptSavingsGrowthRate / 100) + curRow.annualTaxExemptContribution
                        curRow.taxableSavings = curRow.taxableSavings * (1 + curRow.taxableSavingsGrowthRate / 100) + curRow.annualTaxableContribution
                        curRow.taxRate = this.TaxRateGrowthStrategies[this.formData.taxRateGrowthStrategy](curRow)
                        curRow.incomePreTaxed = this.IncomeGrowthStrategies[this.formData.incomeGrowthStrategy](curRow)
                        curRow.taxRate = this.TaxRateGrowthStrategies[this.formData.taxRateGrowthStrategy](curRow)

                        table.push(curRow);
                    }

                    this.results = table;
                },
                calculateCash(curRow) {
                    return curRow.cash + curRow.incomeTaxed - curRow.annualExpenses - curRow.annualTaxDeferredContribution - curRow.annualTaxExemptContribution - curRow.annualTaxableContribution
                },
            }
        }
    </script>
{% endblock %}