{% extends 'content/layouts/base.html' %}
{% block head_title %}
    Bio
{% endblock %}

{% block content %}
    <h1 class="text-6xl m-6 text-center">Bio</h1>
    <p>I have been fascinated with computers ever since I was a child. I was mesmerized by the 3D-generated graphics
        displayed on computer screens, which I first saw through the window of a storefront.
        For most of my career, I have worked at M&M Environmental, taking on various roles and responsibilities. I began
        as a Python developer with little knowledge of programming or software development. The concept of software
        engineering was foreign to me. I still remember creating a web scraping application that took forever to run
        because I didn't understand the difference between a list and a set.
        Over time, I transitioned into an IT role, leveraging my networking knowledge in Cisco and experience with
        Windows-based operating systems. Additionally, I took on roles in accounts receivable (AR) and accounts payable
        (AP), physical network installation, system administration, and help desk support and web design. Working
        closely with the management staff and the CEO, I have learned through lots of trial and error how important
        communication is, and how important it is to continue to ask questions.
        Throughout the years, I became more acquainted with software engineering and design. As I delved deeper into
        software engineering, learned about various algorithms, and studied design patterns, I began to appreciate the
        logically artistic aspect of development.
        I've loved solving puzzles and problems for as long as I can remember. My phone is still full of logic and
        puzzle games. The process of studying for interviews and solving LeetCode puzzles has been an enjoyable journey,
        helping me learn so much. Part of me wishes I had a more formal education in computer science, but another part
        appreciates learning these concepts later and remembering all the mistakes I made along the way.
        At this point in my career, I have worked for M&M Environmental for quite a long time, and I have felt a strong
        sense of loyalty and hesitation in leaving. However, I feel it is time for me to move on to a role where I can
        focus more on coding and software development.</p>

{% endblock %}