{% extends 'content/layouts/base.html' %}
{% block content %}
    <p class="display-1">Display 1</p>
    <p class="display-2">Display 2</p>
    <p class="display-3">Display 3</p>
    <p class="display-4">Display 4</p>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="text-large">Text Large</p>
    <p>Text Large</p>
    <p class="text-small">Text Large</p>
    <span>Small Text</span>
    <pre>Small Text</pre>
{% endblock %}