{% extends 'content/layouts/base.html' %}
{% load component_tags %}
{% block content %}
    {% component 'card' title='Vehicle GPS Alerting System for Field Service Workers' %}
        <p>Developed a comprehensive system to track field service workers' locations relative to their assigned jobs,
            start times, and end times. Integrated Vehicle GPS data via REST API with Field Service Management Software,
            utilizing Microsoft SQL Server and MySQL for data storage. Implemented a real-time dashboard map hosted with
            PHP, using JavaScript and Google Maps API for asynchronous location updates. Automated the system with
            Python scripts and Linux-based cron jobs.</p>
    {% endcomponent %}

{% endblock %}