<div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md">
    <div class="flex items-center justify-between">
        <span class="text-sm font-light text-gray-600">{{ project.year }}</span>
    </div>

    <div class="mt-2">
        <h2 class="text-xl font-bold text-gray-700 hover:text-gray-600 hover:underline"
           tabindex="0">{{ title }}</h2>
        {% slot 'content' default %}
            <p class="mt-2 text-gray-600">{{ project.description }}</p>
        {% endslot %}
    </div>

    <div class="flex items-center justify-between mt-4">
        {% for skill in project.skills.all %}
            {{ skill.name }}

        {% endfor %}

    </div>
</div>