{% load widget_tweaks %}

<c-vars field x-model extra_input_classes="" extra_label_classes="" extra_help_text_classes=""/>
<div class="form-group">
    {% if field.label %}
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-skin-base mb-1 {{ extra_label_classes }}">
            {{ field.label }}
        </label>
    {% endif %}

    <input
            name="{{ field.html_name }}"
            id="{{ field.auto_id }}"
            value="{{ field.value|default:'' }}"
            type="{{ field.field.widget.input_type }}"
            class="border rounded shadow px-3 py-1.5 text-skin-base bg-skin-base focus:outline-none focus:ring-2 focus:ring-skin-accent w-full {{ extra_input_classes }}"
    {{ attrs }}
    >

{#    {% if field.help_text %}#}
{#        <p class="mt-1 text-sm text-skin-muted {{ extra_help_text_classes }}">{{ field.help_text }}</p>#}
{#    {% endif %}#}

    {% if field.errors %}
        <div class="text-skin-error text-sm mt-1">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
</div>