{% load widget_tweaks %}

<div class="form-group">
    {% if field.label %}
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-skin-base mb-1 {{ extra_label_classes }}">
            {{ field.label }}
        </label>
    {% endif %}
    <select name="{{ field.html_name }}"
            id="{{ field.auto_id }}"
            x-model="{{ x_model }}"
            class="border rounded shadow px-3 py-1.5 text-skin-base bg-skin-base focus:outline-none focus:ring-2 focus:ring-skin-accent w-full {{ extra_select_classes }}"
            {% if field.field.required %}required{% endif %}>
        {% for option in field %}
            {% if option.is_group %}
                <optgroup label="{{ option.label }}">
                    {% for sub_option in option.options %}
                        <option value="{{ sub_option.data.value }}"
                                {% if sub_option.is_selected %}selected{% endif %}
                                class="{{ extra_option_classes }}">
                            {{ sub_option.data.label }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% else %}
                <option value="{{ option.data.value }}"
                        {% if option.is_selected %}selected{% endif %}
                        class="{{ extra_option_classes }}">
                    {{ option.data.label }}
                </option>
            {% endif %}
        {% endfor %}
    </select>

    {% if help_text %}
        <p class="mt-1 text-sm text-gray-500">{{ help_text }}</p>
    {% endif %}

    {% if field.errors %}
        <div class="text-red-500 text-sm mt-1">
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>