{% load static %}
<nav x-data="{ isOpen: false }" class="bg-skin-surface fixed top-0 z-50 w-screen shadow-lg opacity-95">
    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="flex items-center justify-between">
                <a href="{% url 'content:home' %}">
                    <img class="w-24 h-12 sm:h-12 object-cover" src="{% static 'content/img/logos/logo.gif' %}" alt="">
                </a>

                <!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button x-cloak @click="isOpen = !isOpen" type="button"
                            class="focus:outline-none"
                            aria-label="toggle menu">
                        <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16"/>
                        </svg>

                        <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>

            <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
                 class="absolute inset-x-0 z-20 flex-1 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-skin-base lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center lg:justify-between">
                <div class="flex flex-col lg:flex lg:px-16 lg:-mx-4 lg:flex-row lg:items-center text-lg">
                {{ section_links }}
                    {% for page in navbar_items %}
                        <c-link href="#{{ page.slug }}">{{ page.title }}</c-link>
                    {% endfor %}
                    <c-link href="{% url 'content:home' %}">Portfolio</c-link>
                    <c-link href="{% url 'blog:index' %}">Articles</c-link>
                </div>

                <div class="flex justify-center mt-6 lg:flex lg:mt-0 lg:-mx-2 text-red500">

                    <a href="https://github.com/schir2"
                       class="mx-2 transition-colors duration-300 transform"
                       aria-label="Github">
                        <c-icons.github/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>