{% extends 'blog/layouts/base.html' %}

{% block content %}
    <div class="lg:max-w-7xl lg:mx-auto px-4 sm:px-6 lg:px-8 py-8 space-y-4">
        <div class="flex items-center text-sm mb-4">
            <span class="mr-4">{{ article.created_at|date:"F d, Y" }}</span>
            <span class="mr-4">By {{ article.creator.username }}</span>
            <span class="flex items-center space-x-3">
                <c-icons.eye/>
                <span id="view-count-{{ article.pk }}"
                      hx-get="{% url 'blog:article_view_count' slug=article.slug %}"
                      hx-trigger="load delay:1s, every 30s"
                      hx-swap="innerHTML transition:fade"
                      class="transition-all duration-300 ease-in-out"> {{ article.view_count }}
                </span>
            </span>
        </div>
        <article class="prose prose-skin lg:prose-xl max-w-5xl">
            <h1>{{ article.title }}</h1>
            {{ content }}
        </article>

        <!-- Like/Dislike buttons -->
        {% include 'blog/partials/like_dislike_buttons.html' %}
        {% if article.series %}
            <h2 class="text-3xl">{{ article.series.title }}</h2>
            {% include 'blog/partials/article_series_list.html' with series=article.series %}
        {% endif %}
    </div>
{% endblock %}