{% extends 'blog/layouts/base.html' %}
{% block head_title %}
    Blog
{% endblock %}
{% block content %}
    <div class="grid grid-cols-12">
        <div id="latestArticles" class="col-span-8">
            <div>
                <h1 class="text-6xl font-light">Latest Articles</h1>
                <a href="{% url 'blog:article_create' %}">Write a New Article</a>
                <div class="grid">
                    {% include 'blog/partials/article_list.html' with articles=articles %}
                </div>
            </div>
        </div>
        <div class="col-span-4">

            <c-sidebar-widget :id="myArticles" title="My Articles">
                {% include 'blog/partials/article_list.html' with articles=my_articles %}
            </c-sidebar-widget>
            <c-sidebar-widget id="myComments" title="My Comments">
                {% include 'blog/partials/comment_list.html' with comments=my_comments %}
            </c-sidebar-widget>


        </div>
    </div>
{% endblock %}