{% extends 'blog/layouts/base.html' %}
{% block head_title %}
    Blog
{% endblock %}
{% block content %}
    <div class="grid grid-cols-12 min-h-nav-offset">
        <div id="latestArticles" class="col-span-8">
            <div>
                <h1 class="text-6xl font-light">Latest Articles</h1>
                <a href="{% url 'blog:article_create' %}">Write a New Article</a>
                <div class="grid">
                    {% include 'blog/partials/article_list.html' with articles=latest_articles %}
                </div>
            </div>
        </div>
        <div class="col-span-4">
            <c-sidebar-widget :id="featuredArticles" title="Featured">
                {% include 'blog/partials/featured_article_list.html' with featured_articles=featured_articles %}
            </c-sidebar-widget>

            <c-sidebar-widget :id="topics" title="Topics">
                {% include 'blog/partials/topic_list.html' with topics=topics %}
            </c-sidebar-widget>
        </div>
    </div>
{% endblock %}