@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Custom Color Variables */
    /* Light Theme */
    :root {
        /* Text Colors */
        --text-base: 0, 0, 0;
        --text-base-inverted: 224, 214, 200;

        --text-muted: 107, 114, 128; /* Gray-500 */
        --text-muted-inverted: 148, 141, 127;

        --text-primary: 126, 34, 206; /* Purple-700 */
        --text-primary-inverted: 129, 221, 49;

        --text-secondary: 217, 119, 6; /* Amber-600 */
        --text-secondary-inverted: 38, 136, 249;

        --text-accent: 2, 132, 199; /* Sky-600 */
        --text-accent-inverted: 253, 123, 56;

        --text-error: 220, 38, 38; /* Red-600 */
        --text-error-inverted: 35, 217, 217;

        --text-success: 5, 150, 105; /* Emerald-600 */
        --text-success-inverted: 250, 105, 150;

        --text-link: 79, 70, 229; /* Indigo-600 */
        --text-link-inverted: 176, 185, 26;

        /* Background Colors */
        --bg-base: 255, 255, 255; /* White */
        --bg-base-inverted: 0, 0, 0;

        --bg-muted: 243, 244, 246; /* Gray-100 */
        --bg-muted-inverted: 12, 11, 9;

        --bg-primary: 237, 233, 254; /* Purple-100 */
        --bg-primary-inverted: 18, 22, 1;

        --bg-secondary: 254, 243, 199; /* Amber-100 */
        --bg-secondary-inverted: 1, 12, 56;

        --bg-accent: 219, 234, 254; /* Sky-100 */
        --bg-accent-inverted: 36, 21, 1;

        --bg-card: 255, 255, 255; /* White */
        --bg-card-inverted: 0, 0, 0;

        --bg-overlay: 0, 0, 0, 0.5; /* Semi-transparent Black */
        --bg-overlay-inverted: 255, 255, 255, 0.5;

        /* Border Colors */
        --border-base: 209, 213, 219; /* Gray-300 */
        --border-base-inverted: 46, 42, 36;

        --border-muted: 229, 231, 235; /* Gray-200 */
        --border-muted-inverted: 26, 24, 20;

        --border-primary: 126, 34, 206; /* Purple-700 */
        --border-primary-inverted: 129, 221, 49;

        --border-secondary: 217, 119, 6; /* Amber-600 */
        --border-secondary-inverted: 38, 136, 249;

        --border-accent: 2, 132, 199; /* Sky-600 */
        --border-accent-inverted: 253, 123, 56;

        --border-error: 220, 38, 38; /* Red-600 */
        --border-error-inverted: 35, 217, 217;

        --border-success: 5, 150, 105; /* Emerald-600 */
        --border-success-inverted: 250, 105, 150;

        /* Fill Colors */
        --fill-base: 31, 41, 55; /* Gray-800 */
        --fill-base-inverted: 224, 214, 200;

        --fill-muted: 107, 114, 128; /* Gray-500 */
        --fill-muted-inverted: 148, 141, 127;

        --fill-primary: 126, 34, 206; /* Purple-700 */
        --fill-primary-inverted: 129, 221, 49;

        --fill-secondary: 217, 119, 6; /* Amber-600 */
        --fill-secondary-inverted: 38, 136, 249;

        --fill-accent: 2, 132, 199; /* Sky-600 */
        --fill-accent-inverted: 253, 123, 56;

        --fill-error: 220, 38, 38; /* Red-600 */
        --fill-error-inverted: 35, 217, 217;

        --fill-success: 5, 150, 105; /* Emerald-600 */
        --fill-success-inverted: 250, 105, 150;
    }

    /* Dark Theme */
    [data-theme="dark"] {
        /* Text Colors */
        --text-base: 243, 244, 246; /* Gray-100 */
        --text-base-inverted: 12, 11, 9;

        --text-muted: 156, 163, 175; /* Gray-400 */
        --text-muted-inverted: 99, 92, 80;

        --text-primary: 192, 132, 252; /* Purple-400 */
        --text-primary-inverted: 63, 123, 3;

        --text-secondary: 251, 191, 36; /* Amber-400 */
        --text-secondary-inverted: 4, 64, 219;

        --text-accent: 165, 243, 252; /* Sky-300 */
        --text-accent-inverted: 90, 12, 3;

        --text-error: 248, 113, 113; /* Red-400 */
        --text-error-inverted: 7, 142, 142;

        --text-success: 110, 231, 183; /* Emerald-400 */
        --text-success-inverted: 145, 24, 72;

        --text-link: 165, 180, 252; /* Indigo-300 */
        --text-link-inverted: 90, 75, 3;

        /* Background Colors */
        --bg-base: 17, 24, 39; /* Gray-900 */
        --bg-base-inverted: 238, 231, 216;

        --bg-muted: 31, 41, 55; /* Gray-800 */
        --bg-muted-inverted: 224, 214, 200;

        --bg-primary: 69, 42, 122; /* Purple-900 */
        --bg-primary-inverted: 186, 213, 133;

        --bg-secondary: 104, 45, 14; /* Amber-900 */
        --bg-secondary-inverted: 151, 210, 241;

        --bg-accent: 3, 105, 161; /* Sky-900 */
        --bg-accent-inverted: 252, 150, 94;

        --bg-card: 31, 41, 55; /* Gray-800 */
        --bg-card-inverted: 224, 214, 200;

        --bg-overlay: 255, 255, 255, 0.1; /* Semi-transparent White */
        --bg-overlay-inverted: 0, 0, 0, 0.9;

        /* Border Colors */
        --border-base: 75, 85, 99; /* Gray-600 */
        --border-base-inverted: 180, 170, 156;

        --border-muted: 107, 114, 128; /* Gray-500 */
        --border-muted-inverted: 148, 141, 127;

        --border-primary: 192, 132, 252; /* Purple-400 */
        --border-primary-inverted: 63, 123, 3;

        --border-secondary: 251, 191, 36; /* Amber-400 */
        --border-secondary-inverted: 4, 64, 219;

        --border-accent: 165, 243, 252; /* Sky-300 */
        --border-accent-inverted: 90, 12, 3;

        --border-error: 248, 113, 113; /* Red-400 */
        --border-error-inverted: 7, 142, 142;

        --border-success: 110, 231, 183; /* Emerald-400 */
        --border-success-inverted: 145, 24, 72;

        /* Fill Colors */
        --fill-base: 243, 244, 246; /* Gray-100 */
        --fill-base-inverted: 12, 11, 9;

        --fill-muted: 156, 163, 175; /* Gray-400 */
        --fill-muted-inverted: 99, 92, 80;

        --fill-primary: 192, 132, 252; /* Purple-400 */
        --fill-primary-inverted: 63, 123, 3;

        --fill-secondary: 251, 191, 36; /* Amber-400 */
        --fill-secondary-inverted: 4, 64, 219;

        --fill-accent: 165, 243, 252; /* Sky-300 */
        --fill-accent-inverted: 90, 12, 3;

        --fill-error: 248, 113, 113; /* Red-400 */
        --fill-error-inverted: 7, 142, 142;

        --fill-success: 110, 231, 183; /* Emerald-400 */
        --fill-success-inverted: 145, 24, 72;
    }
}
