@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    td, th {
        @apply p-1
    }
    :root {
        [data-theme="light"] {

            --text-base: 33, 33, 33;
            --text-muted: 97, 97, 97;
            --text-primary: 25, 118, 210;
            --text-secondary: 245, 127, 23;
            --text-tertiary: 66, 165, 245;
            --text-accent: 233, 30, 99;
            --text-error: 211, 47, 47;
            --text-success: 56, 142, 60;
            --text-link: 25, 118, 210;
            --text-link-hover: 66, 165, 245;
            --text-link-active: 21, 101, 192;


            --bg-base: 250, 250, 250;
            --bg-muted: 238, 238, 238;
            --bg-primary: 224, 224, 224;
            --bg-secondary: 232, 234, 246;
            --bg-tertiary: 240, 240, 240;
            --bg-accent: 245, 245, 245;
            --bg-surface: 255, 255, 255;
            --bg-surface-hover: 245, 245, 245;
            --bg-overlay: 0, 0, 0, 0.5;


            --border-base: 200, 200, 200;
            --border-muted: 220, 220, 220;
            --border-primary: 25, 118, 210;
            --border-secondary: 245, 127, 23;
            --border-tertiary: 66, 165, 245;
            --border-accent: 233, 30, 99;
            --border-error: 211, 47, 47;
            --border-success: 56, 142, 60;
        }

        [data-theme="dark"] {

            --text-base: 235, 235, 235;
            --text-muted: 180, 180, 180;
            --text-primary: 88, 166, 255;
            --text-secondary: 255, 203, 107;
            --text-tertiary: 130, 177, 255;
            --text-accent: 255, 138, 128;
            --text-error: 255, 85, 85;
            --text-success: 105, 240, 174;
            --text-link: 88, 166, 255;
            --text-link-hover: 130, 177, 255;
            --text-link-active: 70, 154, 239;


            --bg-base: 24, 24, 24;
            --bg-muted: 34, 34, 34;
            --bg-primary: 48, 48, 48;
            --bg-secondary: 40, 40, 40;
            --bg-tertiary: 50, 50, 50;
            --bg-accent: 60, 60, 60;
            --bg-surface: 30, 30, 30;
            --bg-surface-hover: 40, 40, 40;
            --bg-overlay: 0, 0, 0, 0.7;


            --border-base: 58, 58, 58;
            --border-muted: 48, 48, 48;
            --border-primary: 88, 166, 255;
            --border-secondary: 255, 203, 107;
            --border-tertiary: 130, 177, 255;
            --border-accent: 255, 138, 128;
            --border-error: 255, 85, 85;
            --border-success: 105, 240, 174;
        }
    }
    /*h1 {*/
    /*    @apply text-6xl;*/
    /*}*/
    /*h2 {*/
    /*    @apply text-5xl;*/
    /*}*/
    /*h3 {*/
    /*    @apply text-4xl;*/
    /*}*/
    /*h4 {*/
    /*    @apply text-3xl;*/
    /*}*/
    /*h5 {*/
    /*    @apply text-2xl;*/
    /*}*/
    /*h6 {*/
    /*    @apply text-xl;*/
    /*}*/
    /*p {*/
    /*    @apply text-base;*/
    /*}*/
}
