@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    :root {
        [data-theme="light"] {
            /* Text Colors */
            --text-base: 0, 0, 0;
            --text-muted: 107, 114, 128;
            --text-primary: 126, 34, 206;
            --text-secondary: 217, 119, 6;
            --text-accent: 2, 132, 199;
            --text-error: 220, 38, 38;
            --text-success: 5, 150, 105;
            --text-link: 79, 70, 229;
            --text-link-hover: 99, 102, 241;
            --text-link-active: 59, 54, 219;

            /* Background Colors */
            --bg-base: 255, 255, 255;
            --bg-muted: 243, 244, 246;
            --bg-primary: 237, 233, 254;
            --bg-secondary: 254, 243, 199;
            --bg-accent: 219, 234, 254;
            --bg-surface: 250, 250, 250;
            --bg-surface-hover: 245, 245, 245;
            --bg-overlay: 0, 0, 0, 0.5;

            /* Border Colors */
            --border-base: 209, 213, 219;
            --border-muted: 229, 231, 235;
            --border-primary: 126, 34, 206;
            --border-secondary: 217, 119, 6;
            --border-accent: 2, 132, 199;
            --border-error: 220, 38, 38;
            --border-success: 5, 150, 105;

            /* Icon Colors */
            --icon-base: 31, 41, 55;
            --icon-muted: 107, 114, 128;
            --icon-primary: 126, 34, 206;
            --icon-secondary: 217, 119, 6;
            --icon-accent: 2, 132, 199;
            --icon-error: 220, 38, 38;
            --icon-success: 5, 150, 105;
        }

        [data-theme="dark"] {
            /* Text Colors */
            --text-base: 224, 214, 200;
            --text-muted: 148, 141, 127;
            --text-primary: 129, 221, 49;
            --text-secondary: 38, 136, 249;
            --text-accent: 253, 123, 56;
            --text-error: 35, 217, 217;
            --text-success: 250, 105, 150;
            --text-link: 176, 185, 26;
            --text-link-hover: 196, 205, 36;
            --text-link-active: 156, 165, 16;

            /* Background Colors */
            --bg-base: 0, 0, 0;
            --bg-muted: 12, 11, 9;
            --bg-primary: 18, 22, 1;
            --bg-secondary: 1, 12, 56;
            --bg-accent: 36, 21, 1;
            --bg-surface: 5, 5, 5;
            --bg-surface-hover: 10, 10, 10;
            --bg-overlay: 255, 255, 255, 0.5;

            /* Border Colors */
            --border-base: 46, 42, 36;
            --border-muted: 26, 24, 20;
            --border-primary: 129, 221, 49;
            --border-secondary: 38, 136, 249;
            --border-accent: 253, 123, 56;
            --border-error: 35, 217, 217;
            --border-success: 250, 105, 150;

            /* Icon Colors */
            --icon-base: 224, 214, 200;
            --icon-muted: 148, 141, 127;
            --icon-primary: 129, 221, 49;
            --icon-secondary: 38, 136, 249;
            --icon-accent: 253, 123, 56;
            --icon-error: 35, 217, 217;
            --icon-success: 250, 105, 150;
        }
    }
}
