{% load widget_tweaks %}
<form id="contactMessageForm"
      hx-post="{% url 'content:contact_message_form' %}"
      hx-target="#contactMessageForm"
>
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="text-red-500">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


    <div class="mb-3">
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        {{ form.name|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
        {% if form.name.errors %}
            <div class="text-red-500">
                {{ form.name.errors }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        {{ form.email|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
        {% if form.email.errors %}
            <div class="text-red-500">
                {{ form.email.errors }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="subject" class="block text-sm font-medium text-gray-700">Subject</label>
        {{ form.subject|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
        {% if form.subject.errors %}
            <div class="text-red-500">
                {{ form.subject.errors }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
        {{ form.message|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }}
        {% if form.message.errors %}
            <div class="text-red-500">
                {{ form.message.errors }}
            </div>
        {% endif %}
    </div>
    {{ form.captcha }}
    {% if form.captcha.errors %}
        <div class="text-red-500">
            {{ form.captcha.errors }}
        </div>
    {% endif %}
    <button type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Send
    </button>

    {% if message %}
        <div class="text-green-500">{{ message }}</div>
    {% endif %}

</form>