<section id="home" class="flex content-center items-center min-h-screen">
    <div class="container w-5xl m-auto">
        <h1 class="text-4xl md:text-7xl p-6 mb-6 md:font-light font-extralight p-6">Full Stack Developer, Climber,
            Runner <b>Marek Schir</b></h1>

        <!-- Back to Top Button -->
        <a id="back-to-top" href="#home"
           class="fixed bottom-10 right-10 bg-gray-700 text-white py-2 px-4 rounded-full shadow-md hover:bg-gray-800 hidden z-50">
            ↑ Back to Top
        </a>
    </div>


</section>