<div class="rounded-md p-2">
    <div class="grid grid-cols-12 items-center">
        <div class="col-span-2 xl:col-span-3 flex flex-row">
            {% if skill.icon %}
                <img src="{{ skill.icon.url }}" alt="{{ skill.name }}" class="w-6 h-6 mr-4">
            {% endif %}
            <h3 class="text-xl font-semibold">{{ skill.name }}</h3>
        </div>
        <div class="bg-slate-50 col-span-10 xl:col-span-9 rounded-full h-4 border">
            <div
                    class="transition-all  bg-gradient-to-r from-cyan-500 to-blue-500 h-4 rounded-full progress-bar duration-1000 ease-out "
                    style="width: 0%;"
                    data-percentage="{% widthratio skill.proficiency 5 100 %}%"
            ></div>
        </div>
    </div>
</div>