<section id="skills" class="min-h-screen min-w-screen  bg-gradient-to-br from-purple-500 to-pink-500 p-6">
    <div class="container m-auto">
        <h1 class="text-6xl p-6 mb-6 text-center">Skills</h1>


        {% regroup skills by category as skills_by_category %}
        <div class="grid grid-cols-1 xl:grid-cols-2">
            {% for skill_category in skill_categories %}
                <div class="bg-skin-base p-3 m-3 shadow-lg rounded-2xl opacity-85">
                    <div class="flex items-center mx-3">
                        {% if skill_category.icon %}
                            <img src="{{ skill_category.icon.url }}" alt="{{ skill_category.name }}"
                                 class="w-12 h-12 mr-3">
                        {% endif %}
                        <h2 class="text-4xl m-3">{{ skill_category.name }}</h2>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 gap-3 p-3">

                        {% for skill in skill_category.skills.all %}
                            {% include 'content/partials/skill_list_item.html' with skill=skill %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
