<section id="skills" class="min-h-screen min-w-screen bg-amber-400 p-6">
    <div class="container m-auto">
        <h1 class="text-6xl p-6 pb-9 mb-6 text-center">Skills</h1>


        {% regroup skills by category as skills_by_category %}
        {% for skill_category in skill_categories %}
            <div class="bg-amber-200 p-6 m-6 shadow-md rounded-2xl">
                <div class="flex items-center mx-6">
                    {% if skill_category.icon %}
                        <img src="{{ skill_category.icon.url }}" alt="{{ skill_category.name }}" class="w-12 h-12 mr-4">
                    {% endif %}
                    <h2 class="text-4xl m-6">{{ skill_category.name }}</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6">

                    {% for skill in skill_category.skills.all %}
                        {% include 'content/partials/skill_list_item.html' with skill=skill %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
