{% extends "ceo/layouts/base.html" %}
{% load crispy_forms_filters %}
{% load i18n static %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-h-screen-nav">
        <div class="m-auto w-25">
            {% if validlink %}
                <h2 class="text-center">Password Reset</h2>

                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form method="post">{% csrf_token %}
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-danger btn-lg w-100">{% translate 'Change my password' %}</button>
                </form>

            {% else %}

                <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
    </div>

{% endblock %}