{% extends 'ceo/layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-h-screen-nav">
        <div class="m-auto w-25">
            <h2 class="text-center">Email Reset Form</h2>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100">{% translate 'Reset my password' %}"</button>
            </form>
        </div>
    </div>
{% endblock %}