{% extends "ceo/layouts/base.html" %}
{% load crispy_forms_filters %}
{% load i18n static %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-h-screen-nav">
        <div class="m-auto w-25">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.
                            {% plural %}Please correct the errors below.{% endblocktranslate %}
                    </p>
                {% endif %}


                <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

                {{ form|crispy }}

                <div class="submit-row">
                    <input type="submit" value="{% translate 'Change my password' %}" class="default">
                </div>

            </div>
        </form>
    </div>

{% endblock %}