{% extends "ceo/layouts/base.html" %}
{% load i18n static %}
{% block head_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center min-h-screen-nav">
        <div class="m-auto w-25">
            <h2>Password Reset Instructions Sent</h2>

            <p>{% translate "If an account exists, you will get an email with instructions on resetting your password. If it doesn't arrive, be sure to check your spam folder." %}</p>
            <a href="{% url 'login' %}">Back to Log In</a>
        </div>
    </div>
{% endblock %}