@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans: 'Roboto Slab', serif;
$font-family-mono: 'Roboto Mono', monospace;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$flex-directions: (
        row: row,
        row-reverse: row-reverse,
        column: column,
        column-reverse: column-reverse
);

$flex-wraps: (
        wrap: wrap,
        nowrap: nowrap,
        wrap-reverse: wrap-reverse
);

$justify-contents: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly
);

$align-items: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
);

$align-self: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch
);

$align-contents: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch
);

$font-size-base: 1.6rem;
$font-size-lg: 1.9rem;
$font-size-sm: 1.4rem;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Headings
$headings-font-family: $font-family-sans;
$headings-font-weight: 500;