@import "variables";
@import "colors";
@import "flex";
@import "general";
@import "typography";
@import "sizing";


html {
  font-size: 16px;
  font-family: $font-family-sans-serif, sans-serif;
}

body {
  font-size: 1.6rem;
}

pre {
  font-family: $font-family-mono, monospace;
}

.small-text {
  font-size: 1.4rem;
}
