{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-slate-50 text-lg">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="flex flex-col h-screen">
    {% component 'navbar' %}{% endcomponent %}
    <div class="container mx-auto bg-base-100 py-3 px-3 md:px-8 shadow-xl max-w-5xl">
        {% block content %}{% endblock %}
    </div>
    {% component 'footer' %}{% endcomponent %}
    {% block javascript %}
    {% endblock %}
</div>
</body>
</html>