{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-serif">
<div class="container mx-auto">
    {% component 'navbar' %}{% endcomponent %}
    {% block content %}{% endblock %}
    {% component 'footer' %}{% endcomponent %}
</div>
{% block javascript %}
{% endblock %}
</body>
</html>