{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'content/img/logos/logo.gif' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <style>
        .disable-pointer-events {
            pointer-events: none; /* Disable all interactions */
        }

    </style>
</head>

<body class="bg-light dark:bg-slate-600 text-lg text-black dark:text-gray-200 pt-5">
<c-navbar></c-navbar>
<div class="container mx-auto bg-slate-50 dark:bg-slate-600 max-w-5xl">
    {% block content %}{% endblock %}
</div>
{% block javascript %}
{% endblock %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Select all links that trigger scrolling
        const smoothScrollLinks = document.querySelectorAll('a[href^="#"]');

        // Function to disable pointer events during scroll
        function disablePointerEvents() {
            document.body.classList.add("disable-pointer-events");

            // Re-enable pointer events after scrolling is done
            setTimeout(() => {
                document.body.classList.remove("disable-pointer-events");
            }, 1000); // Adjust the timeout duration to match your scroll duration
        }

        // Add event listeners to all scroll-triggering links
        smoothScrollLinks.forEach(link => {
            link.addEventListener("click", disablePointerEvents);
        });
    });

</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const progressBars = document.querySelectorAll('.progress-bar');

    const options = {
      threshold: 0.1,
    };

    const observer = new IntersectionObserver(function (entries, observer) {
      entries.forEach(function (entry) {
        if (entry.isIntersecting) {
          const progressBar = entry.target;
          const percentage = progressBar.getAttribute('data-percentage');
          progressBar.style.width = percentage;
          observer.unobserve(progressBar); // Stop observing after animation
        }
      });
    }, options);

    progressBars.forEach(function (progressBar) {
      observer.observe(progressBar);
    });
  });
</script>

</body>
</html>