{% extends "arcus/base.html" %}

{% block head_title %}
    Arcus Dashboard
{% endblock %}

{% block content %}
    <div class="flex">
        <main class="flex-grow container mx-auto px-4 py-8">
            <section class="mb-12">
                <h2 class="text-skin-primary text-3xl font-bold mb-4">Recent Projects</h2>
                {% include 'arcus/partials/project_list_partial.html' with projects=recent_projects %}
            </section>

            <!-- Recent Tasks Section -->
            <section class="mb-12">
                <h2 class="text-skin-primary text-3xl font-bold mb-4">Recent Tasks</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for task in recent_tasks %}
                        <c-arcus.link href="{% url 'arcus:task_detail' task.pk %}">{{ task.title }}
                            <c-icons.arrow-right class="ml-1"/>
                        </c-arcus.link>
                    {% endfor %}
                </div>
            </section>

            <!-- Project Statistics Section -->
            <section class="mb-12">
                <h2 class="text-skin-primary text-3xl font-bold mb-4">Project Statistics</h2>
                <div class="flex flex-wrap gap-6">
                    <c-arcus.chip>Total Projects: {{ total_projects }}</c-arcus.chip>
                    <c-arcus.chip>Total Tasks: {{ total_tasks }}</c-arcus.chip>
                    <c-arcus.chip>Tasks in Progress: {{ tasks_in_progress }}</c-arcus.chip>
                    <c-arcus.chip>Overdue Tasks: {{ overdue_tasks }}</c-arcus.chip>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
