{% extends 'arcus/base.html' %}
{% block head_title %}{{ project.name }}{% endblock %}
{% block content %}
    <h1 class="text-4xl">Project: {{ project.name }} {% include 'arcus/partials/project_star_button.html' %}</h1>
    <div class="space-y-8">
    {% for section in project.sections.all %}
        <div class="bg-skin-surface px-8">
            <h3 class="text-3xl font-semibold mb-4">{{ section.title }}</h3>
            {% include 'arcus/partials/task_table_partial.html' with tasks=section.tasks.all %}
        </div>
        <hr>
    {% endfor %}
    </div>
{% endblock %}