{% load static %}
<nav class="bg-skin-surface fixed top-0 z-50 shadow-md h-16 w-screen flex justify-center align-middle">
    <div class="container flex justify-between align-middle my-auto">
        <div class="space-x-3">
            {{ left }}
            {% for page in navbar_items %}
                <c-link href="#{{ page.slug }}">{{ page.title }}</c-link>
            {% endfor %}
            <c-link href="{% url 'content:index' %}">Portfolio</c-link>
            <c-link href="{% url 'blog:index' %}" icon="external-link">Articles</c-link>
            <c-link href="{% url 'arcus:index' %}" icon="external-link">Arcus</c-link>
        </div>
        <div class="space-x-3">
            {{ middle }}
            <c-link href="{% url 'blog:css_display_cheatsheet' %}">CSS Display Cheatsheet</c-link>
            <c-link href="{% url 'blog:theme' %}">Theme</c-link>
        </div>
        <div class="flex justify-end align-middle gap-3">
            {{ right }}
            <c-link variant="nav" href="{% url 'blog:article_create' %}">
                <c-icons.plus/>
            </c-link>
            <c-link variant="nav" href="https://github.com/schir2">
                <c-icons.github/>
            </c-link>
            <c-icons.sun extra_classes="text-yellow-500 cursor-pointer" x-show="theme == 'dark'" @click="theme = 'light'"/>
            <c-icons.moon extra_classes="text-purple-500 cursor-pointer" x-show="theme == 'light'" @click="theme = 'dark'"/>
        </div>
    </div>
</nav>