{% load static %}
<nav class="bg-skin-surface fixed top-0 z-50 shadow-md opacity-95 h-16 w-screen flex justify-center align-middle">
    <div class="container flex justify-between align-middle my-auto">
        <div class="space-x-3">
            {{ left }}
            {% for page in navbar_items %}
                <c-link href="#{{ page.slug }}">{{ page.title }}</c-link>
            {% endfor %}
            <c-link href="{% url 'content:home' %}">Portfolio</c-link>
            <c-link href="{% url 'blog:index' %}" icon="external-link">Articles</c-link>
        </div>
        <div>
            {{ middle }}
            <c-link href="{% url 'blog:css_display_cheatsheet' %}">CSS Display Cheatsheet</c-link>
        </div>
        <div class="flex justify-end align-middle gap-3">
            {{ right }}
            <c-link variant="nav" href="{% url 'blog:article_create' %}">
                <c-icons.plus/>
            </c-link>
            <c-link variant="nav" href="https://github.com/schir2">
                <c-icons.github/>
            </c-link>
        </div>
    </div>
</nav>